﻿@model NovoEnrollee.Models.Claim

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Claim</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProviderId" class="control-label"></label>
                <input asp-for="ProviderId" class="form-control" />
                <span asp-validation-for="ProviderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enrolleeid" class="control-label"></label>
                <input asp-for="Enrolleeid" class="form-control" />
                <span asp-validation-for="Enrolleeid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnrolleeFullname" class="control-label"></label>
                <input asp-for="EnrolleeFullname" class="form-control" />
                <span asp-validation-for="EnrolleeFullname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnrolleeGender" class="control-label"></label>
                <input asp-for="EnrolleeGender" class="form-control" />
                <span asp-validation-for="EnrolleeGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnrolleeCompanyName" class="control-label"></label>
                <input asp-for="EnrolleeCompanyName" class="form-control" />
                <span asp-validation-for="EnrolleeCompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnrolleeCompanyId" class="control-label"></label>
                <input asp-for="EnrolleeCompanyId" class="form-control" />
                <span asp-validation-for="EnrolleeCompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnrolleePolicyNumber" class="control-label"></label>
                <input asp-for="EnrolleePolicyNumber" class="form-control" />
                <span asp-validation-for="EnrolleePolicyNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnrolleePlan" class="control-label"></label>
                <input asp-for="EnrolleePlan" class="form-control" />
                <span asp-validation-for="EnrolleePlan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClaimsSerialNo" class="control-label"></label>
                <input asp-for="ClaimsSerialNo" class="form-control" />
                <span asp-validation-for="ClaimsSerialNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evscode" class="control-label"></label>
                <input asp-for="Evscode" class="form-control" />
                <span asp-validation-for="Evscode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorsName" class="control-label"></label>
                <input asp-for="DoctorsName" class="form-control" />
                <span asp-validation-for="DoctorsName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorsId" class="control-label"></label>
                <input asp-for="DoctorsId" class="form-control" />
                <span asp-validation-for="DoctorsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaOfSpecialty" class="control-label"></label>
                <input asp-for="AreaOfSpecialty" class="form-control" />
                <span asp-validation-for="AreaOfSpecialty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Signature" class="control-label"></label>
                <input asp-for="Signature" class="form-control" />
                <span asp-validation-for="Signature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorSigned" class="control-label"></label>
                <input asp-for="DoctorSigned" class="form-control" />
                <span asp-validation-for="DoctorSigned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorSignecDate" class="control-label"></label>
                <input asp-for="DoctorSignecDate" class="form-control" />
                <span asp-validation-for="DoctorSignecDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialistName" class="control-label"></label>
                <input asp-for="SpecialistName" class="form-control" />
                <span asp-validation-for="SpecialistName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaOfSpecialtyforspecialist" class="control-label"></label>
                <input asp-for="AreaOfSpecialtyforspecialist" class="form-control" />
                <span asp-validation-for="AreaOfSpecialtyforspecialist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specialistphonenumber" class="control-label"></label>
                <input asp-for="Specialistphonenumber" class="form-control" />
                <span asp-validation-for="Specialistphonenumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialistSigned" class="control-label"></label>
                <input asp-for="SpecialistSigned" class="form-control" />
                <span asp-validation-for="SpecialistSigned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialistSignecDate" class="control-label"></label>
                <input asp-for="SpecialistSignecDate" class="form-control" />
                <span asp-validation-for="SpecialistSignecDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceDate" class="control-label"></label>
                <input asp-for="ServiceDate" class="form-control" />
                <span asp-validation-for="ServiceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdmissionDate" class="control-label"></label>
                <input asp-for="AdmissionDate" class="form-control" />
                <span asp-validation-for="AdmissionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DischargeDate" class="control-label"></label>
                <input asp-for="DischargeDate" class="form-control" />
                <span asp-validation-for="DischargeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Durationoftreatment" class="control-label"></label>
                <input asp-for="Durationoftreatment" class="form-control" />
                <span asp-validation-for="Durationoftreatment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diagnosis" class="control-label"></label>
                <input asp-for="Diagnosis" class="form-control" />
                <span asp-validation-for="Diagnosis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TreatmentGiven" class="control-label"></label>
                <input asp-for="TreatmentGiven" class="form-control" />
                <span asp-validation-for="TreatmentGiven" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TreatmentCode" class="control-label"></label>
                <input asp-for="TreatmentCode" class="form-control" />
                <span asp-validation-for="TreatmentCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferalCode" class="control-label"></label>
                <input asp-for="ReferalCode" class="form-control" />
                <span asp-validation-for="ReferalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnrolleeSigned" class="control-label"></label>
                <input asp-for="EnrolleeSigned" class="form-control" />
                <span asp-validation-for="EnrolleeSigned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnrolleeSignDate" class="control-label"></label>
                <input asp-for="EnrolleeSignDate" class="form-control" />
                <span asp-validation-for="EnrolleeSignDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AllprescibedDrugs" class="control-label"></label>
                <input asp-for="AllprescibedDrugs" class="form-control" />
                <span asp-validation-for="AllprescibedDrugs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaboratoryInvestigation" class="control-label"></label>
                <input asp-for="LaboratoryInvestigation" class="form-control" />
                <span asp-validation-for="LaboratoryInvestigation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admission" class="control-label"></label>
                <input asp-for="Admission" class="form-control" />
                <span asp-validation-for="Admission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feeding" class="control-label"></label>
                <input asp-for="Feeding" class="form-control" />
                <span asp-validation-for="Feeding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tag" class="control-label"></label>
                <input asp-for="Tag" class="form-control" />
                <span asp-validation-for="Tag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CapturedBy" class="control-label"></label>
                <input asp-for="CapturedBy" class="form-control" />
                <span asp-validation-for="CapturedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CapturedName" class="control-label"></label>
                <input asp-for="CapturedName" class="form-control" />
                <span asp-validation-for="CapturedName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VettedBy" class="control-label"></label>
                <input asp-for="VettedBy" class="form-control" />
                <span asp-validation-for="VettedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RevettedBy" class="control-label"></label>
                <input asp-for="RevettedBy" class="form-control" />
                <span asp-validation-for="RevettedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VettedDate" class="control-label"></label>
                <input asp-for="VettedDate" class="form-control" />
                <span asp-validation-for="VettedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReVettedDate" class="control-label"></label>
                <input asp-for="ReVettedDate" class="form-control" />
                <span asp-validation-for="ReVettedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guid" class="control-label"></label>
                <input asp-for="Guid" class="form-control" />
                <span asp-validation-for="Guid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedOn" class="control-label"></label>
                <input asp-for="UpdatedOn" class="form-control" />
                <span asp-validation-for="UpdatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDeleted" class="control-label"></label>
                <input asp-for="IsDeleted" class="form-control" />
                <span asp-validation-for="IsDeleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClaimBatchId" class="control-label"></label>
                <select asp-for="ClaimBatchId" class ="form-control" asp-items="ViewBag.ClaimBatchId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SiteId" class="control-label"></label>
                <input asp-for="SiteId" class="form-control" />
                <span asp-validation-for="SiteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enrolleeage" class="control-label"></label>
                <input asp-for="Enrolleeage" class="form-control" />
                <span asp-validation-for="Enrolleeage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientsideId" class="control-label"></label>
                <input asp-for="ClientsideId" class="form-control" />
                <span asp-validation-for="ClientsideId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosticsIdstring" class="control-label"></label>
                <input asp-for="DiagnosticsIdstring" class="form-control" />
                <span asp-validation-for="DiagnosticsIdstring" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubmitByProvider" class="control-label"></label>
                <input asp-for="SubmitByProvider" class="form-control" />
                <span asp-validation-for="SubmitByProvider" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ipaddressofprovider" class="control-label"></label>
                <input asp-for="Ipaddressofprovider" class="form-control" />
                <span asp-validation-for="Ipaddressofprovider" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VettedName" class="control-label"></label>
                <input asp-for="VettedName" class="form-control" />
                <span asp-validation-for="VettedName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
