﻿@model NovoEnrollee.Models.Claim

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Claim</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProviderId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProviderId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enrolleeid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enrolleeid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnrolleeFullname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnrolleeFullname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnrolleeGender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnrolleeGender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnrolleeCompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnrolleeCompanyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnrolleeCompanyId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnrolleeCompanyId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnrolleePolicyNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnrolleePolicyNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnrolleePlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnrolleePlan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClaimsSerialNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClaimsSerialNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Evscode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Evscode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DoctorsName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DoctorsName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DoctorsId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DoctorsId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AreaOfSpecialty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AreaOfSpecialty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Signature)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Signature)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DoctorSigned)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DoctorSigned)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DoctorSignecDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DoctorSignecDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpecialistName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpecialistName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AreaOfSpecialtyforspecialist)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AreaOfSpecialtyforspecialist)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Specialistphonenumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Specialistphonenumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpecialistSigned)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpecialistSigned)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpecialistSignecDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpecialistSignecDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdmissionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdmissionDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DischargeDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DischargeDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Durationoftreatment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Durationoftreatment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Diagnosis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TreatmentGiven)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TreatmentGiven)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TreatmentCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TreatmentCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReferalCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReferalCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnrolleeSigned)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnrolleeSigned)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnrolleeSignDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnrolleeSignDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AllprescibedDrugs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AllprescibedDrugs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LaboratoryInvestigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LaboratoryInvestigation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Admission)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Admission)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Feeding)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Feeding)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CapturedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CapturedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CapturedName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CapturedName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VettedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VettedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RevettedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RevettedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VettedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VettedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReVettedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReVettedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Guid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Guid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SiteId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SiteId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enrolleeage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enrolleeage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientsideId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientsideId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiagnosticsIdstring)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiagnosticsIdstring)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubmitByProvider)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubmitByProvider)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ipaddressofprovider)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ipaddressofprovider)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VettedName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VettedName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClaimBatch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClaimBatch.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
