﻿@model IEnumerable<NovoEnrollee.Models.Claim>

@{
    ViewData["Title"] = "Index";
}

<style>
    td.table-cell-edit {
        background-color: lightgoldenrodyellow;
    }
</style>
@{
   var History = ViewData["MedicalHistory"] as IEnumerable<NovoEnrollee.Models.Claim>;
}
<section id="main-content">
    <section class="wrapper">

        <div class="row mb">
            <div class="col-lg-12">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <h4>Medical History</h4>
                        <p>If any of the information in your medical history is incorrect, click on report claim to send us feedback </p>

                    </div>
                </div>
            </div>
        </div>


        <div class="row mb">
            <div class="col-lg-12">
                <div class="content-panel border rounded">

                    <div class="adv-table">
                        <table class="table table-dark table-striped table-bordered" id="datatable">
                            <thead>
                                <tr>

                                    <th>
                                        @Html.DisplayNameFor(model => model.EnrolleeFullname)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EnrolleePolicyNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EnrolleeCompanyName)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.ServiceDate)
                                    </th>
                                    <th>
                                        <p>Provider</p>
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Admission)
                                    </th>
                                  

                                    <th>
                                        @Html.DisplayNameFor(model => model.Diagnosis)
                                    </th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in History)
                                {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.EnrolleeFullname)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EnrolleePolicyNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EnrolleeCompanyName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ServiceDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProviderName)
                                    </td>

                                        @if (item.Admission == null)
                                        {
                                        <td>
                                            Not Admitted
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            Admitted
                                        </td>
                                    }
                                      

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Diagnosis)
                                        </td>
                                        <td width="10%">
                                            @*<button type="button" class="btn btn-theme"><i class="fa fa-cog"></i> Button</button>*@
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-danger btn-rounded mb-4"><i class="fa fa-bullhorn"></i> Report Claim</a>

                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- /col-lg-12 -->

    </section>
</section>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    var dataTable;
    $(document).ready(function () {
        loadDataTable();
    });

    $('#datatable').dataTable({
    });

</script>