﻿@model NovoDiagnosis.Models.Provider

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Provider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentEmail1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentEmail1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentEmail2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentEmail2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Assignee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Assignee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Providergpscordinate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Providergpscordinate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Providerservices)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Providerservices)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Providerplans)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Providerplans)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProviderTariffs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProviderTariffs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuthorizationStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuthorizationStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuthorizationNote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuthorizationNote)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DisapprovalNote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisapprovalNote)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuthorizedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuthorizedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DisapprovedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisapprovedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuthorizedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuthorizedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DisapprovalDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisapprovalDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeletionNote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeletionNote)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Parentid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Parentid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isDelisted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isDelisted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DelistNote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DelistNote)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.delisteddate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.delisteddate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.delistedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.delistedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyConsession)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyConsession)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
