﻿@model NovoDiagnosis.Models.Provider

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Provider</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubCode" class="control-label"></label>
                <input asp-for="SubCode" class="form-control" />
                <span asp-validation-for="SubCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone2" class="control-label"></label>
                <input asp-for="Phone2" class="form-control" />
                <span asp-validation-for="Phone2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Website" class="control-label"></label>
                <input asp-for="Website" class="form-control" />
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateId" class="control-label"></label>
                <select asp-for="StateId" class="form-control" asp-items="ViewBag.StateId"></select>
                <span asp-validation-for="StateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentEmail1" class="control-label"></label>
                <input asp-for="PaymentEmail1" class="form-control" />
                <span asp-validation-for="PaymentEmail1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentEmail2" class="control-label"></label>
                <input asp-for="PaymentEmail2" class="form-control" />
                <span asp-validation-for="PaymentEmail2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assignee" class="control-label"></label>
                <input asp-for="Assignee" class="form-control" />
                <span asp-validation-for="Assignee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Providergpscordinate" class="control-label"></label>
                <input asp-for="Providergpscordinate" class="form-control" />
                <span asp-validation-for="Providergpscordinate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Providerservices" class="control-label"></label>
                <input asp-for="Providerservices" class="form-control" />
                <span asp-validation-for="Providerservices" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Providerplans" class="control-label"></label>
                <input asp-for="Providerplans" class="form-control" />
                <span asp-validation-for="Providerplans" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProviderTariffs" class="control-label"></label>
                <input asp-for="ProviderTariffs" class="form-control" />
                <span asp-validation-for="ProviderTariffs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorizationStatus" class="control-label"></label>
                <input asp-for="AuthorizationStatus" class="form-control" />
                <span asp-validation-for="AuthorizationStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorizationNote" class="control-label"></label>
                <input asp-for="AuthorizationNote" class="form-control" />
                <span asp-validation-for="AuthorizationNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisapprovalNote" class="control-label"></label>
                <input asp-for="DisapprovalNote" class="form-control" />
                <span asp-validation-for="DisapprovalNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorizedBy" class="control-label"></label>
                <input asp-for="AuthorizedBy" class="form-control" />
                <span asp-validation-for="AuthorizedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisapprovedBy" class="control-label"></label>
                <input asp-for="DisapprovedBy" class="form-control" />
                <span asp-validation-for="DisapprovedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorizedDate" class="control-label"></label>
                <input asp-for="AuthorizedDate" class="form-control" />
                <span asp-validation-for="AuthorizedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisapprovalDate" class="control-label"></label>
                <input asp-for="DisapprovalDate" class="form-control" />
                <span asp-validation-for="DisapprovalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletionNote" class="control-label"></label>
                <input asp-for="DeletionNote" class="form-control" />
                <span asp-validation-for="DeletionNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parentid" class="control-label"></label>
                <input asp-for="Parentid" class="form-control" />
                <span asp-validation-for="Parentid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="isDelisted" /> @Html.DisplayNameFor(model => model.isDelisted)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DelistNote" class="control-label"></label>
                <input asp-for="DelistNote" class="form-control" />
                <span asp-validation-for="DelistNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="delisteddate" class="control-label"></label>
                <input asp-for="delisteddate" class="form-control" />
                <span asp-validation-for="delisteddate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="delistedBy" class="control-label"></label>
                <input asp-for="delistedBy" class="form-control" />
                <span asp-validation-for="delistedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyConsession" class="control-label"></label>
                <input asp-for="CompanyConsession" class="form-control" />
                <span asp-validation-for="CompanyConsession" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
