﻿@model IEnumerable<NovoDiagnosis.Models.Provider>

@{
    ViewData["Title"] = "Index";
}

<style>
    td.table-cell-edit {
        background-color: lightgoldenrodyellow;
    }
</style>
@{
    var Providers = ViewData["Providers"] as IEnumerable<NovoDiagnosis.Models.Provider>;
}
<section id="main-content">
    <section class="wrapper">

        <div class="row mb">
            <div class="col-lg-12">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <h4>Providers</h4>
                        <p>The list below represents the list of Providers in your State of residence. <br/>Kindly contact us to update your state if you do not reside in this state</p>

                    </div>
                </div>
            </div>
        </div>


        <div class="row mb">
            <div class="col-lg-12">
                <div class="content-panel border rounded">

                    <div class="adv-table">
                        <table class="table table-striped table-hover table-bordered table-responsive col-md-8" id="datatable">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>



                                    <th>
                                        @Html.DisplayNameFor(model => model.Address)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Area)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.State)
                                    </th>





                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Providers)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>



                                        <td>
                                            @Html.DisplayFor(modelItem => item.Address)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Area)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.State.Name)
                                        </td>




                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- /col-lg-12 -->

    </section>
</section>
