﻿@model NovoDiagnosis.Models.ViewModels.AppointmentViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<section id="main-content">
    <section class="wrapper">
        <div class="row mb">
            <div class="col-lg-12">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <h4>Dependents</h4>

                    </div>
                </div>
            </div>
        </div>

        <div class="row mb">
            <div class="col-md-4">
                <div class="content-panel border rounded">

                    <div class="adv-table">


                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <p>
                            @*<a asp-action="Create">Create New</a>*@

                            &nbsp;&nbsp;&nbsp; <button onclick="Export2Doc('datatable');" class="btn btn-facebook btn-rounded mb-4"><i class="fa fa-download"></i> Export Dependents Id Cards</button>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <p>
                            @*<a asp-action="Create">Create New</a>*@

                            &nbsp;&nbsp;&nbsp; <button id="doPrint" class="btn btn-facebook btn-rounded mb-4"><i class="fa fa-print"></i> Print Dependant Id Card</button>
                        </p>

                    </div>
                </div>
            </div>
        </div>


        <div class="row mb">
            <div class="col-lg-12">
                <div class="content-panel border rounded">

                    <div class="adv-table">
                        <p>
                            <br /><br />
                        </p>
                        <table class="table table-hover table-bordered" id="datatable">

                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>bbbbbb</th>
                                    <th>gggggg</th>
                                    <th>gghhhjj</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Enrollees)
                                {
                                    <tr>
                                        @*<td>@item.</td>
                                        <td>@employee.EmployeeName</td>
                                        <td>@employee.Address</td>
                                        <td>@employee.Phone</td>*@
                                    </tr>

                                }
                            </tbody>
                        </table>
                        <p>
                            
                        <br /><br />
                    </p>
                </div>
            </div>
        </div>

        <!-- /col-lg-12 -->

</section>
</section>