﻿@model NovoDiagnosis.Models.Appointment

@{
    ViewData["Title"] = "Details";
}

<section id="main-content">
    <section class="wrapper">
        <div class="row mb">
            <div class="col-lg-12">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <h4>Customers List</h4>

                    </div>
                </div>
            </div>
        </div>

        <div class="row mb">
            <div class="col-md-4">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <p>
                            @*<a asp-action="Create">Create New</a>*@

                            &nbsp;&nbsp;&nbsp; <a href="" class="btn btn-facebook btn-rounded mb-4" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Add New Customer</a>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <p>
                            @*<a asp-action="Create">Create New</a>*@

                            &nbsp;&nbsp;&nbsp; <button onclick="Export2Doc('datatable');" class="btn btn-facebook btn-rounded mb-4"><i class="fa fa-download"></i> Export Customers List</button>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <p>
                            @*<a asp-action="Create">Create New</a>*@

                            &nbsp;&nbsp;&nbsp; <button id="doPrint" class="btn btn-facebook btn-rounded mb-4"><i class="fa fa-print"></i> Print</button>
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="row mb">
            <div class="col-lg-12">
                <div class="content-panel border rounded">
                    <div class="adv-table">
                        <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="claims" width="70%">
                            <thead>
                                <tr>
                                    <img src="~/img/logo.png" width="250" height="120" align="right"/>
                                </tr><tr>
    <br />
    <br />
    <p>
        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.Provider)</b> <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayNameFor(model => model.State)
    </p>

</tr>
                                <tr>

                                    <td> <b>@Html.DisplayNameFor(model => model.FullName)</b> </td>
                                    <td>@Html.DisplayFor(model => model.FullName)</td>
                                </tr>
                                <tr>  <td> @Html.DisplayNameFor(model => model.StaffId): </td><td> @Html.DisplayFor(model => model.StaffId)</td></tr>
                                <tr>  <td>  @Html.DisplayNameFor(model => model.Policynumber): </td><td> @Html.DisplayFor(model => model.Policynumber)</td></tr>
                                <tr><td>@Html.DisplayNameFor(model => model.Symptoms):</td><td> @Html.DisplayFor(model => model.Symptoms)</td></tr>
                                <tr><td>@Html.DisplayNameFor(model => model.Otherdetails): </td><td> @Html.DisplayFor(model => model.Otherdetails)</td></tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.VerificationCode) </td>
                                    <td>@Html.DisplayFor(model => model.VerificationCode)</td>
                                </tr>
                                <tr>  <td>@Html.DisplayNameFor(model => model.CallCenterRemark): </td><td>@Html.DisplayFor(model => model.CallCenterRemark)</td></tr>
                                <tr><td> @Html.DisplayNameFor(model => model.ProviderRemark):</td><td>   @Html.DisplayFor(model => model.ProviderRemark)</td></tr>
                                <tr><td>@Html.DisplayNameFor(model => model.Provider): </td><td> @Html.DisplayFor(model => model.Provider)</td></tr>

                            </thead>
                        </table>




                    </div>

                    <div class="adv-table">
                        <p>
                            <br /><br />
                        </p>
                        <div>
                            <h4>Appointment</h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.FullName)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.FullName)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.StaffId)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.StaffId)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Policynumber)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Policynumber)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Symptoms)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Symptoms)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Otherdetails)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Otherdetails)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.VerificationCode)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.VerificationCode)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.CallCenterRemark)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.CallCenterRemark)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.ProviderRemark)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.ProviderRemark)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Provider)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Provider)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.State)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.State)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Email)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Email)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.PhoneNumber)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.PhoneNumber)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.AppointmentDate)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.AppointmentDate)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.CompletedAnnualMedical)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.CompletedAnnualMedical)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Approve)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Approve)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Reject)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Reject)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.CreatedOn)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.CreatedOn)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.UpdatedOn)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.UpdatedOn)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.AuthorizationCode)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.AuthorizationCode)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Recommendation)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Recommendation)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Status)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Status)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.History)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.History)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.PresentingComplain)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.PresentingComplain)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Diagnosis)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Diagnosis)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.PlanTest)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.PlanTest)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.UserReview)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.UserReview)
                                </dd>
                            </dl>
                        </div>
                        <div>
                            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                            <a asp-action="Index">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /col-lg-12 -->
        </div>
    </section>
</section>