﻿@model NovoDiagnosis.Models.Appointment

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group" hidden>
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="StaffId" class="control-label"></label>
                <input asp-for="StaffId" class="form-control" />
                <span asp-validation-for="StaffId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Policynumber" class="control-label"></label>
                <input asp-for="Policynumber" class="form-control" />
                <span asp-validation-for="Policynumber" class="text-danger"></span>
            </div>
           
            <div class="form-group" hidden>
                <label asp-for="Symptoms" class="control-label"></label>
                <input asp-for="Symptoms" class="form-control" />
                <span asp-validation-for="Symptoms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Otherdetails" class="control-label"></label>
                <input asp-for="Otherdetails" class="form-control" />
                <span asp-validation-for="Otherdetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VerificationCode" class="control-label"></label>
                <input asp-for="VerificationCode" class="form-control" readonly/>
                <span asp-validation-for="VerificationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CallCenterRemark" class="control-label"></label>
                <input asp-for="CallCenterRemark" class="form-control" readonly/>
                <span asp-validation-for="CallCenterRemark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProviderRemark" class="control-label"></label>
                <input asp-for="ProviderRemark" class="form-control" readonly/>
                <span asp-validation-for="ProviderRemark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Provider" class="control-label"></label>
                <input asp-for="Provider" class="form-control" readonly/>
                <span asp-validation-for="Provider" class="text-danger"></span>
            </div>
           
            <div class="form-group" hidden>
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentDate" class="control-label"></label>
                <input asp-for="AppointmentDate" class="form-control" readonly/>
                <span asp-validation-for="AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentTime" class="control-label"></label>
                <input asp-for="AppointmentTime" class="form-control" readonly/>
                <span asp-validation-for="AppointmentTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="CompletedAnnualMedical" /> @Html.DisplayNameFor(model => model.CompletedAnnualMedical)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Approve" /> @Html.DisplayNameFor(model => model.Approve)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Reject" /> @Html.DisplayNameFor(model => model.Reject)
                    </label>
                </div>
            </div>
            <div class="form-group" hidden>
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="UpdatedOn" class="control-label"></label>
                <input asp-for="UpdatedOn" class="form-control" />
                <span asp-validation-for="UpdatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorizationCode" class="control-label"></label>
                <input asp-for="AuthorizationCode" class="form-control" readonly/>
                <span asp-validation-for="AuthorizationCode" class="text-danger"></span>
            </div>
           
            
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" readonly/>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="PresentingComplain" class="control-label"></label>
                <textarea asp-for="PresentingComplain" class="form-control"></textarea>
                <span asp-validation-for="PresentingComplain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diagnosis" class="control-label"></label>
                <textarea asp-for="Diagnosis" class="form-control" readonly></textarea>
                <span asp-validation-for="Diagnosis" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="UserReview" class="control-label"></label>
                <textarea asp-for="UserReview" class="form-control"></textarea>
                <span asp-validation-for="UserReview" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-facebook" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
