﻿@model IEnumerable<NovoDiagnosis.Models.Appointment>
@using NovoDiagnosis.Models

@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.css">
@{
    var user = await UserManager.GetUserAsync(User);

}
<style>


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
        font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }



    .container2 {
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] {
        font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
    }

    #contact {
        background: #F9F9F9;
        padding: 25px;
        margin: 50px 0;
    }

        #contact h3 {
            color: #F96;
            display: block;
            font-size: 30px;
            font-weight: 400;
        }

        #contact h4 {
            margin: 5px 0 15px;
            display: block;
            font-size: 13px;
        }

    fieldset {
        border: medium none !important;
        margin: 0 0 10px;
        min-width: 100%;
        padding: 0;
        width: 100%;
    }

    #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
        width: 100%;
        border: 1px solid #CCC;
        background: #FFF;
        margin: 0 0 5px;
        padding: 10px;
    }

        #contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
            -webkit-transition: border-color 0.3s ease-in-out;
            -moz-transition: border-color 0.3s ease-in-out;
            transition: border-color 0.3s ease-in-out;
            border: 1px solid #AAA;
        }

    #contact textarea {
        height: 100px;
        max-width: 100%;
        resize: none;
    }

    #contact button[type="submit"] {
        cursor: pointer;
        width: 100%;
        border: none;
        background: #0CF;
        color: #FFF;
        margin: 0 0 5px;
        padding: 10px;
        font-size: 15px;
    }

        #contact button[type="submit"]:hover {
            background: #09C;
            -webkit-transition: background 0.3s ease-in-out;
            -moz-transition: background 0.3s ease-in-out;
            transition: background-color 0.3s ease-in-out;
        }

        #contact button[type="submit"]:active {
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
        }

    #contact input:focus, #contact textarea:focus {
        outline: 0;
        border: 1px solid #999;
    }

    ::-webkit-input-placeholder {
        color: #888;
    }

    :-moz-placeholder {
        color: #888;
    }

    ::-moz-placeholder {
        color: #888;
    }

    :-ms-input-placeholder {
        color: #888;
    }
</style>

<section id="main-content">
    <section class="wrapper">
        <div class="row mb">
            <br /><br /><br />
            <div class="col-lg-12">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <h4>List Of Appointments</h4>
                       
                       

                    </div>
                </div>
            </div>
        </div>

        <div class="row mb">
            <div class="col-md-4">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <p>
                            @*<a asp-action="Create">Create New</a>*@

                            &nbsp;&nbsp;&nbsp; <a href="" class="btn btn-facebook btn-rounded mb-4" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Book Appointment</a>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <p>
                            @*<a asp-action="Create">Create New</a>*@
                            
                            &nbsp;&nbsp;&nbsp; <button onclick="Export2Doc('datatable');" class="btn btn-facebook btn-rounded mb-4"><i class="fa fa-download"></i> Export Appointments History</button>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <p>
                            @*<a asp-action="Create">Create New</a>*@

                            &nbsp;&nbsp;&nbsp; <button id="doPrint" class="btn btn-facebook btn-rounded mb-4"><i class="fa fa-print"></i> Print</button>
                        </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="row mb">
            @{
                var Code = Guid.NewGuid().ToString("n").Substring(0, 8);
            
            }

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                         
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12">
                                <form asp-action="Create">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="form-group">
                                        <label>Select A Provider</label>
                                       
                                            @Html.DropDownList("Id", (IEnumerable<SelectListItem>)ViewBag.Provider, null, new { @class = "form-control" })
                                    
                                    </div>
                                    <div class="form-group" hidden>
                                        <input type="text" name="FullName" value="@user.FullName" placeholder="Enter Full Name" class="form-control" required>
                                    </div>
                                    <div class="form-group" hidden>
                                        <input type="text" name="StaffId" value="@user.StaffId" placeholder="Enter Staff Id" class="form-control" required>

                                    </div>
                                    <div class="form-group">
                                        <textarea type="text" name="PresentingComplain" value="" placeholder="Presenting Complain" class="form-control" required></textarea>
                                    </div>

                                    <div class="form-group">
                                        <textarea type="text" name="Symptoms" value="" placeholder="Symptoms" class="form-control" required></textarea>
                                    </div>
                                    <div class="form-group" hidden>

                                        <input type="text" name="AuthorizationCode" value="NHA-@Code-UBAAP" class="form-control" required>


                                    </div>

                                    <div class="form-group" hidden>
                                        <input type="text" name="Email" value="@user.Email" placeholder="Enter Email" class="form-control" required>
                                    </div>
                                    <div class="form-group" hidden>
                                        <input type="text" name="PhoneNumber" value="@user.PhoneNumber" placeholder="Enter Phone Number" class="form-control" required>
                                    </div>


                                    <div class="form-group" id='datetimepicker8'>
                                        <input type="text" name="AppointmentDate" value="" placeholder="Pick a date" class="form-control" id="datepicker" required>

                                    </div>
                                  
                                    <br />
                                    <div class="form-group">
                                        <input type="submit" value="Book Appointment" class="btn btn-facebook" />
                                    </div>
                                </form>

                            </div>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="row mb">
            <div class="col-lg-12">
                <div class="content-panel border rounded">

                    <div class="adv-table">
                        <p>
                            <br /><br />
                        </p>
                        <table class="table table-hover table-bordered" id="datatable">
                            <thead>
                                <tr>

                                    <th>
                                        @Html.DisplayNameFor(model => model.FullName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Complain)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.Provider)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AppointmentDate)
                                    </th>
                                  
                                    <th>
                                        @Html.DisplayNameFor(model => model.AuthorizationCode)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreatedOn)
                                    </th>
                                    @*<th>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </th>*@


                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PresentingComplain)
                                    </td>


                                    <td>
                                        @Html.DisplayFor(modelItem => item.Provider.Name)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.AppointmentDate)
                                    </td>
                                    @if (item.AuthorizationCode == null)
                                    {
                                        <td>
                                            No Authorization Code
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AuthorizationCode)
                                        </td>
                                    }
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedOn)
                                    </td>

                                    @*@if (item.Status == null)
                                    {
                                        <td>
                                            Awaiting Approval
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                    }*@
                                    <td width="5%">

                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-facebook btn-rounded mb-4"><i class="fa fa-pencil-square"></i> Edit</a>

                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- /col-lg-12 -->
        </div>
    </section>
</section>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    var dataTable;
    $(document).ready(function () {
        loadDataTable();
    });

    $('#datatable').dataTable({
    });

</script>

<script>
    document.getElementById("doPrint").addEventListener("click", function () {
        var printContents = document.getElementById('datatable').innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    });


    function Export2Doc(element, filename = '') {
        //  _html_ will be replace with custom html
        var meta = "Mime-Version: 1.0\nContent-Base: " + location.href + "\nContent-Type: Multipart/related; boundary=\"NEXT.ITEM-BOUNDARY\";type=\"text/html\"\n\n--NEXT.ITEM-BOUNDARY\nContent-Type: text/html; charset=\"utf-8\"\nContent-Location: " + location.href + "\n\n<!DOCTYPE html>\n<html>\n_html_</html>";
        //  _styles_ will be replaced with custome css
        var head = "<head>\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\n<style>\n_styles_\n</style>\n</head>\n";
        //  _body_ will be replaced with custome body html
        var body = "<body>_body_</body>";
        //var preHtml = "<html xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:w='urn:schemas-microsoft-com:office:word' xmlns='http://www.w3.org/TR/REC-html40'><head><meta charset='utf-8'><title>Export HTML To Doc</title></head><body>";
        //var postHtml = "</body></html>";

        //var html = preHtml + document.getElementById(element).innerHTML + postHtml;
        var html = document.getElementById(element).innerHTML;

        var blob = new Blob(['\ufeff', html], {
            type: 'application/msword'
        });

        var css = (
            '<style>' +
            'img {width:300px;}' +
            '</style>'
        );
        //  Image Area %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
        var options = { maxWidth: 624 };
        var images = Array();
        var img = $("#" + element).find("img");
        for (var i = 0; i < img.length; i++) {
            // Calculate dimensions of output image
            var w = Math.min(img[i].width, options.maxWidth);
            var h = img[i].height * (w / img[i].width);
            // Create canvas for converting image to data URL
            var canvas = document.createElement("CANVAS");
            canvas.width = w;
            canvas.height = h;
            // Draw image to canvas
            var context = canvas.getContext('2d');
            context.drawImage(img[i], 0, 0, w, h);
            // Get data URL encoding of image
            var uri = canvas.toDataURL("image/png");
            $(img[i]).attr("src", img[i].src);
            img[i].width = w;
            img[i].height = h;
            // Save encoded image to array
            images[i] = {
                type: uri.substring(uri.indexOf(":") + 1, uri.indexOf(";")),
                encoding: uri.substring(uri.indexOf(";") + 1, uri.indexOf(",")),
                location: $(img[i]).attr("src"),
                data: uri.substring(uri.indexOf(",") + 1)
            };
        }

        // Prepare bottom of mhtml file with image data
        var imgMetaData = "\n";
        for (var i = 0; i < images.length; i++) {
            imgMetaData += "--NEXT.ITEM-BOUNDARY\n";
            imgMetaData += "Content-Location: " + images[i].location + "\n";
            imgMetaData += "Content-Type: " + images[i].type + "\n";
            imgMetaData += "Content-Transfer-Encoding: " + images[i].encoding + "\n\n";
            imgMetaData += images[i].data + "\n\n";

        }
        imgMetaData += "--NEXT.ITEM-BOUNDARY--";
        // end Image Area %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

        var output = meta.replace("_html_", head.replace("_styles_", css) + body.replace("_body_", html)) + imgMetaData;

        var url = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(output);


        filename = filename ? filename + '.doc' : 'bank.doc';


        var downloadLink = document.createElement("a");

        document.body.appendChild(downloadLink);

        if (navigator.msSaveOrOpenBlob) {
            navigator.msSaveOrOpenBlob(blob, filename);
        } else {

            downloadLink.href = url;
            downloadLink.download = filename;
            downloadLink.click();
        }

        document.body.removeChild(downloadLink);
    }

</script>

<script src="http://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.js"></script>
<link href="http://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.css" rel="stylesheet" />

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="dist/bootstrap-clockpicker.min.js"></script>s
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="dist/bootstrap-clockpicker.min.js"></script>
<link rel="stylesheet" href="cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script type="text/javascript" src=" https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

<script type="text/javascript" src=" https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.js"></script>

<script type="text/javascript">
    $('.clockpicker').clockpicker({
        placement: 'top',
        align: 'left',
        donetext: 'Done'
    });
</script>
<script type='text/javascript'>

    ///* Setup the datepicker with defaults */
    //$("#datepicker").datepicker({
    //    minDate: setMinDate(),
    //    maxDate: setMaxDate()
    //});

    ///* set the minDate based on the dropdown list */
    //function setMinDate() {
    //    var string = $("#whatYear").val() + ",10,19";
    //    return new Date(string);
    //}

    ///* set the maxDate based on the dropdown list */
    //function setMaxDate() {
    //    var string = $("#whatYear").val() + ",08,20";
    //    return new Date(string);
    //}

    ///* when the dropdown list changes, so does the min/max date */
    //$("#whatYear").on('change', function () {
    //    $('#datepicker').datepicker('option', {
    //        minDate: setMinDate(),
    //        maxDate: setMaxDate()
    //    });
    //});
    var dateToday = new Date();
    var dates = $("#datepicker").datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 1,
        minDate: 1,
        maxDate: + 60
    });
</script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>




<script>
    mobiscroll.settings = {
        theme: 'ios',
        display: 'bubble'
    };

    $(function () {

        var now = new Date();

        $('#demo-calendar-mobile').mobiscroll().calendar({
            onInit: function (event, inst) {
                inst.setVal(now, true);
            }
        });

        $('#demo-calendar-desktop').mobiscroll().calendar({
            touchUi: false,
            onInit: function (event, inst) {
                inst.setVal(now, true);
            }
        });

        $('#demo-calendar-header').mobiscroll().calendar({
            headerText: '{value}',
            onInit: function (event, inst) {
                inst.setVal(now, true);
            }
        });

        $('#demo-calendar-non-form').mobiscroll().calendar({
            onInit: function (event, inst) {
                inst.setVal(now, true);
            }
        });

        var instance = $('#demo-calendar-date-external').mobiscroll().calendar({
            showOnTap: false,
            showOnFocus: false,
            onInit: function (event, inst) {
                inst.setVal(new Date(), true);
            }
        }).mobiscroll('getInst');;

        $('#show-demo-calendar-date-external').click(function () {
            instance.show();
            return false;
        });

    });
</script>
@*<script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>*@
<script type="text/javascript">
    $(function () {
        $("#datepicker2").datepicker({ minDate: "+1D", maxDate: "+2M +10D" });
    });
    var input = $('#manual-operations-input').pickatime({
        autoclose: true,
        'default': 'now'
    });

    // Manually toggle to the minutes view
    $('#check-minutes').click(function (e) {
        e.stopPropagation();
        input.pickatime('show').pickatime('toggleView', 'minutes');
    });


    var input = $('#input-a');
    input.clockpicker({
        autoclose: true
    });

    // Manual operations
    $('#button-a').click(function (e) {
        // Have to stop propagation here
        e.stopPropagation();
        input.clockpicker('show')
            .clockpicker('toggleView', 'minutes');
    });
    $('#button-b').click(function (e) {
        // Have to stop propagation here
        e.stopPropagation();
        input.clockpicker('show')
            .clockpicker('toggleView', 'hours');
    });


</script>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var list1 = document.getElementById('firstList');
        list1.options[0] = new Option('--Select State--', '');
        list1.options[1] = new Option('Lagos', 'Lagos');
        list1.options[2] = new Option('Ogun', 'Ogun');
        list1.options[3] = new Option('Oyo', 'Oyo');
        list1.options[4] = new Option('Ondo', 'Ondo');
        list1.options[5] = new Option('Ekiti', 'Ekiti');
        list1.options[6] = new Option('Osun', 'Osun');
        list1.options[7] = new Option('Kwara', 'Kwara');
        list1.options[8] = new Option('Kogi', 'Kogi');
        list1.options[9] = new Option('Niger', 'Niger');
        list1.options[10] = new Option('Benue', 'Benue');
        list1.options[11] = new Option('Plateau', 'Plateau');
        list1.options[12] = new Option('Jigawa', 'Jigawa');
        list1.options[13] = new Option('Nasarawa', 'Nasarawa');
        list1.options[14] = new Option('Federal Capital Territory - Abuja', 'Federal Capital Territory - Abuja');
        list1.options[15] = new Option('Abia', 'Abia');
        list1.options[16] = new Option('Enugu', 'Enugu');
        list1.options[17] = new Option('Anambra', 'Anambra');
        list1.options[18] = new Option('Imo', 'Imo');
        list1.options[19] = new Option('EBONYI STATE', 'EBONYI STATE');
        list1.options[20] = new Option('CROSS RIVERS', 'CROSS RIVERS');
        list1.options[21] = new Option('AKWA IBOM STATE', 'AKWA IBOM STATE');
        list1.options[22] = new Option('RIVERS STATE', 'RIVERS STATE');
        list1.options[23] = new Option('BAYELSA STATE', 'BAYELSA STATE');
        list1.options[24] = new Option('EDO STATE', 'EDO STATE');
        list1.options[25] = new Option('DELTA STATE', 'DELTA STATE');
        list1.options[26] = new Option('BORNO STATE', 'BORNO STATE');
        list1.options[27] = new Option('GOMBE STATE', 'GOMBE STATE');
        list1.options[28] = new Option('YOBE STATE', 'YOBE STATE');
        list1.options[29] = new Option('ADAMAWA STATE', 'ADAMAWA STATE');
        list1.options[30] = new Option('BAUCHI STATE', 'BAUCHI STATE');
        list1.options[31] = new Option('KANO STATE', 'KANO STATE');
        list1.options[32] = new Option('KADUNA STATE', 'KADUNA STATE');
        list1.options[33] = new Option('SOKOTO STATE', 'SOKOTO STATE');
        list1.options[34] = new Option('KEBBI STATE', 'KEBBI STATE');
        list1.options[35] = new Option('TARABA STATE', 'TARABA STATE');
        list1.options[36] = new Option('ZAMFARA STATE', 'ZAMFARA STATE');
        list1.options[37] = new Option('KATSINA STATE', 'KATSINA STATE');


    });
    function getStateItem() {
        var list1 = document.getElementById('firstList');
        var list2 = document.getElementById("secondList");
        var list1SelectedValue = list1.options[list1.selectedIndex].value;


        if (list1SelectedValue == 'Lagos') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select Provider--', '');
            list2.options[1] = new Option('Afriglobal Medicare', 'Afriglobal Medicare');
            list2.options[2] = new Option('Afriglobal Medicare', 'Afriglobal Medicare');
            list2.options[3] = new Option('Echolab ', 'Echolab ');
        }
        else if (list1SelectedValue == 'Ogun') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('Union Diagnostic', 'Union Diagnostic');
            list2.options[2] = new Option('Ace Medicare Clinics', 'Ace Medicare Clinics');
            list2.options[3] = new Option('Mercy Group Clincs', 'Mercy Group Clincs');
            list2.options[4] = new Option('Lanik Medical Center', 'Lanik Medical Center');
        }
        else if (list1SelectedValue == 'Oyo') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('Union Diagnostic', 'Union Diagnostic');
            list2.options[2] = new Option('Mecure Healthcare Ltd ', 'Mecure Healthcare Ltd ');
        }
        else if (list1SelectedValue == 'Ondo') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('Sijuwade Specialist Hospital', 'Sijuwade Specialist Hospital');
            list2.options[2] = new Option('Hopeland Specialist Medical Center', 'Hopeland Specialist Medical Center');
        }
        else if (list1SelectedValue == 'Ekiti') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('Adetade Hospital', 'Adetade Hospital');
            list2.options[2] = new Option('Maternal and Child Hospital', 'Maternal and Child Hospital');
        }
        else if (list1SelectedValue == 'Osun') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('Union Diagnostic', 'Union Diagnostic');
            list2.options[2] = new Option('Onward Hospital', 'Onward Hospital');
            list2.options[3] = new Option('Living Hope Hospital', 'Living Hope Hospital');
        }
        else if (list1SelectedValue == 'Kwara') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('Union Diagnostic', 'Union Diagnostic');
            list2.options[2] = new Option('Yusjib Industrial Medicare', 'Yusjib Industrial Medicare');
        }
        else if (list1SelectedValue == 'Kogi') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('Niger Hospital', 'Niger Hospital');
        }
        else if (list1SelectedValue == 'Niger') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('Berith Specialist Hospital', 'Berith Specialist Hospital');
            list2.options[2] = new Option('Citizen Hospital', 'Citizen Hospital');
        }
        else if (list1SelectedValue == 'Benue') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('Sandra Hospital', 'Sandra Hospital');
        }
        else if (list1SelectedValue == 'Plateau') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('Our Lady of Apostle', 'Our Lady of Apostle');
            list2.options[2] = new Option('Chilas Hospital', 'Chilas Hospital');
        }
        else if (list1SelectedValue == 'Jigawa') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('Al-Barka Hospital', 'Al-Barka Hospital');
        }
        else if (list1SelectedValue == 'Nasarawa') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('Sauki Hospital', 'Sauki Hospital');
        }
        else if (list1SelectedValue == 'Federal Capital Territory - Abuja') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('Life Bridge Diagnostics', 'Life Bridge Diagnostics');
            list2.options[2] = new Option('Dara Medical Center', 'Dara Medical Center');
        }
        else if (list1SelectedValue == 'Abia') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('Springs Clinic', 'Springs Clinic');
            list2.options[2] = new Option('New Era Hospital', 'New Era Hospital');
            list2.options[3] = new Option('Obioma Hospital', 'Obioma Hospital');
        }
        else if (list1SelectedValue == 'Enugu') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('Dr. Nlogha Memorial Medical Center', 'Dr. Nlogha Memorial Medical Center');
            list2.options[2] = new Option('Life Bridge Diagnostics', 'Life Bridge Diagnostics');
        }
        else if (list1SelectedValue == 'Anambra') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('Toronto Hospital', 'Toronto Hospital');
            list2.options[2] = new Option('Ifebi Medical Center', 'Ifebi Medical Center');
        }
        else if (list1SelectedValue == 'Imo') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('Ikenegbu Hospital', 'Ikenegbu Hospital');
            list2.options[2] = new Option('Ezem Medical Center', 'Ezem Medical Center');
        }
        else if (list1SelectedValue == 'EBONYI STATE') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('Christ the King Hospital  ', 'Christ the King Hospital  ');
            list2.options[2] = new Option('Mater Misericordiae Hospital ', 'Mater Misericordiae Hospital ');

        }
        else if (list1SelectedValue == 'CROSS RIVERS') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('Faith Foundation Specialist Clinic', 'Faith Foundation Specialist Clinic');
            list2.options[2] = new Option('Aruba Specialist Hospital ', 'Aruba Specialist Hospital ');
            list2.options[3] = new Option('Bakor Hospital ', 'Bakor Hospital ');

        }
        else if (list1SelectedValue == 'AKWA IBOM STATE') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('St Anthanasius Hospital Ltd', 'St Anthanasius Hospital Ltd');
            list2.options[2] = new Option('Nduye Medical Services  ', 'Nduye Medical Services ');


        }
        else if (list1SelectedValue == 'RIVERS STATE') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('Noxford Hospital ', 'Noxford Hospital ');
            list2.options[2] = new Option('St. Martins Hospital  ', 'St. Martins Hospital ');


        }

        else if (list1SelectedValue == 'BAYELSA STATE') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('Crest Consultants Clinic ', 'Crest Consultants Clinic ');
            list2.options[2] = new Option(' Gloryland Hospital ', 'Gloryland Hospital ');


        }
        else if (list1SelectedValue == 'EDO STATE') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('Edi International Clinic  ', 'Edi International Clinic  ');
            list2.options[2] = new Option(' Narrow Way Clinic  ', 'Narrow Way Clinic  ');


        }
        else if (list1SelectedValue == 'DELTA STATE') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('West End Diagnostic Hospital  ', 'West End Diagnostic Hospital  ');
            list2.options[2] = new Option('Twins City and Diagnostics Center   ', ' Twins City and Diagnostics Center ');


        }

        else if (list1SelectedValue == 'BORNO STATE') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('Borno Medical Center  ', ' Borno Medical Center ');

        }

        else if (list1SelectedValue == 'GOMBE STATE') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option(' Sabana Hospital', 'Sabana Hospital ');

        }

        else if (list1SelectedValue == 'YOBE STATE') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('City Medical Center  ', ' City Medical Center ');

        }
        else if (list1SelectedValue == 'ADAMAWA STATE') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('Peace Hospital  ', 'Peace Hospital  ');
            list2.options[2] = new Option(' New Boshang Clinic and Maternity  ', 'New Boshang Clinic and Maternity  ');


        }
        else if (list1SelectedValue == 'BAUCHI STATE') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('Ree Medicare Ltd  ', 'Ree Medicare Ltd  ');
            list2.options[2] = new Option(' NAF Reference Hospital  ', 'NAF Reference Hospital  ');


        }
        else if (list1SelectedValue == 'KANO STATE') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('International Clinics and Hospital Ltd  ', 'International Clinics and Hospital Ltd  ');
            list2.options[2] = new Option('Khadijat Memorial Hospital   ', ' Khadijat Memorial Hospital ');


        }
        else if (list1SelectedValue == 'KADUNA STATE') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option(' Manek Specialist Hospital ', 'Manek Specialist Hospital  ');
            list2.options[2] = new Option(' Jowako Hospital  ', 'Jowako Hospital  ');


        }
        else if (list1SelectedValue == 'SOKOTO STATE') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option(' Sahel Specialist Hospital ', ' Sahel Specialist Hospital ');
            list2.options[2] = new Option(' Shepherd Specialist Clinic  ', 'Shepherd Specialist Clinic  ');


        }
        else if (list1SelectedValue == 'KEBBI STATE') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('DDG Medical Center ', ' DDG Medical Center');



        }
        else if (list1SelectedValue == 'TARABA STATE') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('First Dominion Hospital  ', ' First Dominion Hospital ');

        }
        else if (list1SelectedValue == 'ZAMFARA STATE') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('Daula Hospital and Maternity Home ', 'Daula Hospital and Maternity Home ');
            list2.options[1] = new Option('Yariman Bakura Specialist Hospital  ', 'Yariman Bakura Specialist Hospital ');
        }
        else if (list1SelectedValue == 'KATSINA STATE') {
            list2.options.length = 0;
            list2.options[0] = new Option('--Select--', '');
            list2.options[1] = new Option('K-Dara Specialist Hospital   ', ' K-Dara Specialist Hospital ');

        }
    }
</script>

