﻿@model NovoDiagnosis.Models.EnrolleePassport

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>EnrolleePassport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Enrolleeid" class="control-label"></label>
                <input asp-for="Enrolleeid" class="form-control" />
                <span asp-validation-for="Enrolleeid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enrolleepolicyno" class="control-label"></label>
                <input asp-for="Enrolleepolicyno" class="form-control" />
                <span asp-validation-for="Enrolleepolicyno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imgraw" class="control-label"></label>
                <input asp-for="Imgraw" class="form-control" />
                <span asp-validation-for="Imgraw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedOn" class="control-label"></label>
                <input asp-for="UpdatedOn" class="form-control" />
                <span asp-validation-for="UpdatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDeleted" class="control-label"></label>
                <input asp-for="IsDeleted" class="form-control" />
                <span asp-validation-for="IsDeleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
