﻿@model NovoDiagnosis.Models.EnrolleePassport

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>EnrolleePassport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Enrolleeid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enrolleeid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enrolleepolicyno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enrolleepolicyno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Imgraw)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Imgraw)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
