﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.   @ViewBag.Name</p>
<p align="center">@ViewBag.Name</p>

<div class="form-row mt-2">
    <form>
        <div class="col col1 col-sm-3 disabled">
            <label class="control-label">Staff Id</label>
            <input id="searchCNPJ" type="text" name="value" class="form-control" placeholder="" />
        </div>
        <div class="col col3 col-sm-9">
            <label class="control-label">Staff Fullname</label>
            <input id="nomeCliente" class="form-control disabled" readonly />
        </div>
    </form>
</div>
@section Scripts{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#searchCNPJ").autocomplete({
                source: '/Home/Test'
            });
        });
        $('#searchCNPJ').on('autocompletechange change', function () {
            var data = this.value;
            $.ajax({
                type: "Get",
                url: "/Home/Test2?name=" + data,
                success: function (data) {
                    console.log(data);
                    $('#nomeCliente').val(data);
                }
            })
        }).change();
    </script>
}
