﻿@{
    ViewData["Title"] = "Index";
}

<style>
    td.table-cell-edit {
        background-color: lightgoldenrodyellow;
    }
</style>

<section id="main-content">
    <section class="wrapper">

        <div class="row mb">
            <div class="col-lg-12">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <h4>Frequently Asked Questions</h4>
                      
                    </div>
                </div>
            </div>
        </div>


        <div class="row mb">
            <div class="col-lg-12">
                <div class="content-panel border rounded">

                    <div class="adv-table">
                        <br /><br />Coming Soon!!!<br /><br /><br /><br /><br /><br /><br /><br />
                        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                        <br /><br /><br />
                    </div>
                </div>
            </div>
        </div>

        <!-- /col-lg-12 -->

    </section>
</section>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    var dataTable;
    $(document).ready(function () {
        loadDataTable();
    });

    $('#datatable').dataTable({
    });

</script>