﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <title>Novo Enrollee App</title>
    <!-- Favicons -->
    <link href="~/img/icon.png" rel="apple-touch-icon">
    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/style-responsive.css" rel="stylesheet">
    <style>
        body {
            background: url('https://source.unsplash.com/random/1920x1080/?nature,water') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
             width:100%;
 margin:0 auto;
 padding:0px;
 font-family:helvetica;
        }

        #wrapper
{
 text-align:center;
 margin:0 auto;
 padding:0px;
 width:995px;
}
#output_image
{
 max-width:300px;
}
    </style>

</head>

<body style=" background-image: url('/images/checks.jpg');">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class=""><br /><br /></div>
                </div>
            </div>
        </div>
    </div>

    <section id="main-content">
        <section class="wrapper">
            <div id="login-page" >
                <div class="col-md-10">
                    <div class="content-panel border rounded">

                        <div class="row">
                            <div class="col-md-4"></div>


                            <div class="col-md-4">
                                <form action="/Enrollee/SubmitPortalRegistration" class="form-horizontal" enctype="multipart/form-data" id="EnrolleePage" method="post">
                                    <img src="~/img/logo.png" width="400" height="200" class="img-responsive">

                                    <div id="mainform">
                                        <div class="box box-default">
                                            <div class="box-header with-border">
                                                <h2 class="box-title text-center text-secondary">Enrollee Registration</h2>

                                                <h5 class="text-center">Personal information are Required</h5>
                                            </div><br /><br />
                                            <!-- /.box-header -->
                                            <!-- form start -->
                                            <input type="hidden" value="132" id="company_id" name="CompanyId" />
                                            <div class="box-body">

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">File</label>

                                                    <div class="col-sm-10 ">
                                                        <div>
                                                            <input type="file" accept="image/*" onchange="preview_image(event)" class="form-control">
                                                            <br />
                                                            <img id="output_image" />
                                                        </div>


                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="staffid" class="col-sm-2 control-label">Staff Identification Number</label>

                                                    <div class="col-sm-10">
                                                        <input class="form-control" id="searchCNPJ" name="staffid" placeholder="Staff ID No" type="text" value="" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="inputfirstname" class="col-sm-2 control-label">Staff Name</label>

                                                    <div class="col-sm-10">
                                                        <input class="form-control" id="nomeCliente" name="StaffFullname" type="text" value=" " readonly="readonly">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="datepicker" class="col-sm-2 control-label">DOB</label>

                                                    <div class="col-sm-10">
                                                        <input class="form-control" id="datepicker" name="datepicker" placeholder="DOB" type="date" value="" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="maritalstatusvalue" class="col-sm-2 control-label">Marital Status</label>

                                                    <div class="col-sm-10">
                                                        <select class="form-control" id="maritalstatusvalue" name="maritalstatusvalue" onchange="SelectChange(this)">
                                                            <option value="0">Single</option>
                                                            <option value="1">Married</option>
                                                            <option value="2">Divorced</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="sex" class="col-sm-2 control-label">Gender</label>

                                                    <div class="col-sm-10">
                                                        <select class="form-control" id="sex" name="sex" onchange="SelectChange(this)">
                                                            <option value="0">Male</option>
                                                            <option value="1">Female</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="state" class="col-sm-2 control-label">State of Origin</label>

                                                    <div class="col-sm-10">
                                                        <select class="form-control" id="state" name="state">
                                                            <option value="-1">--SELECT--</option>

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputLGA" class="col-sm-2 control-label">LGA</label>

                                                    <div class="col-sm-10">
                                                        <input class="form-control" id="inputLGA" name="inputLGA" placeholder="LGA" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="stateResident" class="col-sm-2 control-label">State of Residence</label>

                                                    <div class="col-sm-10">
                                                        <select class="form-control" id="stateResident" name="stateResident">
                                                            <option value="-1">--SELECT--</option>

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="address" class="col-sm-2 control-label">Address</label>

                                                    <div class="col-sm-10">
                                                        <input class="form-control" id="address" name="address" placeholder="Residential Address" type="text" value="" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="occupation" class="col-sm-2 control-label">Occupation</label>

                                                    <div class="col-sm-10">
                                                        <input class="form-control" id="occupation" name="occupation" placeholder="occupation" type="text" value="" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="mobilenumber" class="col-sm-2 control-label">Mobile Line 1</label>

                                                    <div class="col-sm-10">
                                                        <input class="form-control" id="mobilenumber" maxlength="11" name="mobilenumber" placeholder="Mobile Line 1" type="text" value="" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="mobilenumber2" class="col-sm-2 control-label">Mobile Line 2</label>

                                                    <div class="col-sm-10">
                                                        <input class="form-control" id="mobilenumber2" maxlength="11" name="mobilenumber2" placeholder="Mobile Line 2" type="text" value="" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="EmailForm" class="col-sm-2 control-label">Email</label>

                                                    <div class="col-sm-10">
                                                        <input class="form-control" id="EmailForm" name="EmailForm" placeholder="Email" type="text" value="" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="company" class="col-sm-2 control-label">Company</label>

                                                    <div class="col-sm-10">
                                                        <input class="form-control" id="company" name="company" placeholder="Company" readonly="" type="text" value="@TempData["CompanyName"]" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="company" class="col-sm-2 control-label">Plan</label>

                                                    <div class="col-sm-10">
                                                        <input class="form-control" id="staffplan" name="staffplan" placeholder="Plan" readonly="" type="text" value="UNION BANK - VERDE  FAMILY" />
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <label for="stateoffice" class="col-sm-2 control-label">Office State</label>

                                                    <div class="col-sm-10">
                                                        <select class="form-control" id="stateoffice" name="stateoffice" onchange="StateBranchChange(this)">
                                                            <option value="-1">--SELECT--</option>

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">



                                                    <label for="branchid" class="col-sm-2 control-label">Branch Office</label>



                                                    <div class="col-sm-10">

                                                        <input type="text" class="form-control" id="branchid" name="branchid" />

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="provider" class="col-sm-2 control-label">Hospital of Choice</label>

                                                    <div class="col-sm-10">
                                                        <select class="form-control chosen-select" id="provider" name="provider">
                                                            <option value="8580"> STANDARDCARE HEALTH SOLUTIONS LTD  - no. 32, khana street, d/line, port harcourt, rivers state.</option>



                                                        </select>


                                                        <br />

                                                        <small>**Kindly note that provider is allocated based on your plan.</small>
                                                    </div>


                                                </div>
                                                <div class="form-group">
                                                    <label for="premedicalcondition" class="col-sm-2 control-label">Pre-existing Medical Conditions</label>

                                                    <div class="col-sm-10">
                                                        <textarea class="form-control" cols="20" id="premedicalcondition" name="premedicalcondition" placeholder="Pre-existing Medical Conditions" rows="2">
</textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="overlay hidden" id="loading_Loader">
                                                <i class="fa fa-refresh fa-spin"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-10"><br /><br /></div>
                                    <div class="col-sm-10 text-center">
                                        <button class="btn btn-facebook" type="button" align="right">Submit</button>

                                    </div>
                                </form>



                            </div>
                            <div class="col-md-4"></div>

                        </div>
                </div>
        
                    </section>
       <div></div>
    </section>
       
        <div class="modal-footer">


        </div>

        
        <div></div>

</body>
</html>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

  

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#searchCNPJ").autocomplete({
                source: '/Home/Test'
            });
        });
        $('#searchCNPJ').on('autocompletechange change', function () {
            var data = this.value;
            $.ajax({
                type: "Get",
                url: "/Home/Test2?name=" + data,
                success: function (data) {
                    console.log(data);
                    $('#nomeCliente').val(data);
                }
            })
        }).change();

         function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>

    <script type='text/javascript'>
        function preview_image(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('output_image');
                output.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>