﻿@model NovoDiagnosis.Models.ViewModels.BenefitModel

@using Microsoft.AspNetCore.Identity;
@using NovoDiagnosis.Models;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<style>
    td.table-cell-edit {
        background-color: lightgoldenrodyellow;
    }
</style>
@{
    var user = await UserManager.GetUserAsync(User);

}
<section id="main-content">
    <section class="wrapper">

        <div class="row mb">
            <div class="col-lg-12">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <h4>Benefit Table.</h4>

                    </div>
                </div>
            </div>
        </div>
        <div class="row mb">
            <div class="col-lg-12">
                <div class="content-panel border rounded">

                    <div class="adv-table">
                        <table class="table table-dark table-striped table-bordered" id="datatable">
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Benefit Limit
                                    </th>



                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- /col-lg-12 -->

    </section>
</section>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

<script type="text/javascript">

    var dataTable;
    $(document).ready(function () {
        loadDataTable();
    });
    (function ($) {
        $("#datatable").DataTable({
            "pageLength": 50,
            ajax: {
                url: "api/Benefits",
                dataSrc: ""
            },



            columns: [

                {
                    data: "name", "autoWidth": true
                },
                {
                    data: "description", "autoWidth": true
                },

                {
                    data: "benefitlimit", "autoWidth": true
                },



            ],
            "language": {
                "emptyTable": "NoT found."
            },
            "width": "90%"



        });




    })(jQuery);

</script>

