﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <title>Novo Enrollee App</title>
    <!-- Favicons -->
    <link href="~/img/icon.png" rel="apple-touch-icon">
    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/style-responsive.css" rel="stylesheet">
    <style>
        body {
            background: url('https://source.unsplash.com/random/1920x1080/?nature,water') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
            width: 100%;
            margin: 0 auto;
            padding: 0px;
            font-family: helvetica;
        }

        #wrapper {
            text-align: center;
            margin: 0 auto;
            padding: 0px;
            width: 995px;
        }

        #output_image {
            max-width: 300px;
        }
    </style>

</head>

<body style=" background-image: url('/images/checks.jpg');">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class=""><br /><br /></div>
                </div>
            </div>
        </div>
    </div>

    <section id="main-content">
        <section class="wrapper">
            <div id="login-page">
                <div class="col-md-10">
                    <div class="content-panel border rounded">

                        <div class="row">
                            <div class="col-md-4"></div>


                            <div class="col-md-4">
                                <form action="~/EnProfile/Add" class="form-horizontal">
                                    <img src="~/img/logo.png" width="400" height="200" class="img-responsive">

                                    <div id="mainform">
                                        <div class="box box-default">
                                            <div class="box-header with-border">
                                                <h2 class="box-title text-center text-secondary">Enrollee Registration</h2>

                                                <h5 class="text-center">Personal information are Required</h5>
                                            </div><br /><br />
                                           
                                            <div class="box-body">

                                             

                                                <div class="form-group">
                                                    <label for="staffid" class="col-sm-2 control-label">Staff Id</label>

                                                    <div class="col-sm-10">
                                                        <input class="form-control" id="searchCNPJ" name="staffid" placeholder="Staff ID No" type="text" value="" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="inputfirstname" class="col-sm-2 control-label">Staff Name</label>

                                                    <div class="col-sm-10">
                                                        <input class="form-control" id="nomeCliente" name="StaffFullname" type="text" value="" readonly="readonly">
                                                    </div>
                                                </div>

                                         
                                               
                                                <div class="form-group">
                                                    <label for="company" class="col-sm-2 control-label">Company</label>

                                                    <div class="col-sm-10">
                                                        <input class="form-control" id="company" name="company" placeholder="Company" readonly="" type="text" value="@TempData["CompanyName"]" />
                                                    </div>
                                                </div>
                                               

                                          
                                               
                                            </div>

                                           
                                        </div>
                                    </div>
                                    <div class="col-sm-10"><br /><br /></div>
                                    <div class="col-sm-10 text-center">
                                        
                                        <input type="submit" value="Next" class="btn btn-facebook" />
                                    </div>
                                </form>



                            </div>
                            <div class="col-md-4"><p align="right">Step 1 of 4 >>>></p></div>

                        </div>
                    </div>

        </section>
        <div></div>
    </section>

    <div class="modal-footer">


    </div>


    <div></div>

</body>
</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $("#searchCNPJ").autocomplete({
            source: '/Home/Test'
        });
    });
    $('#searchCNPJ').on('autocompletechange change', function () {
        var data = this.value;
        $.ajax({
            type: "Get",
            url: "/Home/Test2?name=" + data,
            success: function (data) {
                console.log(data);
                $('#nomeCliente').val(data);
            }
        })
    }).change();

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

<script type='text/javascript'>
    function preview_image(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('output_image');
            output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>