﻿@model NovoDiagnosis.Models.ViewModels.EnrolleeViewModel
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
}
<style>

    .id-card {
        flex-basis: 100%;
        max-width: 300em;
        border: 1px solid rgb(97, 245, 245);
        margin: auto;
        color: #fff;
        padding: 1em;
        background-color: #fff;
    }

    .profile-row {
        display: flex;
    }

        .profile-row .dp {
            flex-basis: 33.3%;
            position: relative;
            margin: 24px;
            align-self: center;
        }

        .profile-row .desc {
            flex-basis: 66.6%;
        }

        .profile-row .dp img {
            max-width: 100%;
            display: block;
            box-shadow: 0px 0px 4px 3px #12a0a0;
        }

        .profile-row .desc {
            padding: 1em;
        }

        .profile-row .dp .dp-arc-inner {
            position: absolute;
            width: 100%;
            height: 100%;
            border: 6px solid transparent;
            top: -6px;
            left: -6px;
            animation-duration: 2s;
            animation-name: rotate-clock;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        .profile-row .dp .dp-arc-outer {
            position: absolute;
            width: calc(100% + 20px);
            height: calc(100% + 20px);
            border: 6px solid transparent;
            border-radius: 50%;
            top: -16px;
            left: -16px;
            animation-duration: 2s;
            animation-name: rotate-anticlock;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        .profile-row .desc {
            font-family: 'Orbitron', sans-serif;
            color: #000;
            letter-spacing: 1px;
        }

            .profile-row .desc h1 {
                margin: 0px;
            }
</style>
@{
    var user = await UserManager.GetUserAsync(User);

}
<section id="main-content">
    <section class="wrapper">

        <div class="row mb">
            <div class="col-lg-12">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <h4>Enrollee Id Card</h4><br />
                        <p>
                            @*<a asp-action="Create">Create New</a>*@
                            <button id="doPrint" class="btn btn-facebook btn-rounded mb-4"><i class="fa fa-print"></i> Print Now</button>

                        </p>

                    </div>
                </div>
            </div>
        </div>


        <div class="content-panel border rounded">
            <div class="row mb">

                <div class="col-lg-12">

                    <div class="col-md-2">

                    </div>
                    <div class="col-md-6">

                        <div class="id-card">
                            <div class="row" style="background-color:#337ab7"><img src="~/img/logo.png" width="420" height="80" /><br /><hr /> <h6 align="center">Client Electronic Id Card</h6></div>
                            <div class="profile-row">

                                <div class="dp" style="border-color; border-style:solid ">

                                    <img src="data:image/png;base64,@ViewBag.enrolleeimg" style="max-height: 200px; max-width: 420px;"
                                         class="img-rounded" id="photo_img">
                                </div>
                                <div class="desc">

                                    <p><b>Name:</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Enrollee.Surname</p>
                                    <p><b>Policy No:</b> &nbsp;&nbsp;&nbsp;&nbsp;@Model.Enrollee.Policynumber</p>
                                    <p><b>Address:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Enrollee.Residentialaddress</p>
                                    <p><b>Company:</b> &nbsp;&nbsp;&nbsp;&nbsp;@Model.Company.Name</p>
                                    <p><b>Plan Type:</b> &nbsp;&nbsp;&nbsp;@Model.CompanyPlan.Planfriendlyname</p>
                                    <p><b>LANPP:</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@*@Model.Provider.Name*@</p>
                                    <p><b>Expiration:</b>&nbsp;&nbsp;&nbsp; Verify With Policy Number</p><hr />

                                </div>

                            </div>
                            <div class="row" style="background-color:#337ab7">
                                <p align="center"><small>10A, Akiogun Road, Oniru, Lagos<br />Tel: 09090404387-9<br />Website: https://www.novohealthafrica.org</small></p>
                            </div>
                        </div>

                        @*<div class="row" style="background-color:dodgerblue; border-style:solid">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/img/logo.png" style="max-height: 100px; max-width: 250px;">
                            </div>

                            <div class="col-md-4" style="display:inline-block;">
                                <img src="~/img/kindle-381242_1280.jpg"
                                     class="img-rounded" id="photo_img" height="120px" width="150px">
                            </div>

                            <div class="col-md-2" style="background-color:dodgerblue; color:white">NAME: </div><div class="col-md-6">ghhhjjj jjjjjjjjjjj<br /></div>
                            <div class="col-md-2" style="background-color:dodgerblue; color:white">POLICY NO: </div><div class="col-md-6">ghhhjjj jjjjjjjjjjj</div>
                            <div class="col-md-2" style="background-color:dodgerblue; color:white">ADDRESS: </div><div class="col-md-6">ghhhjjj jjjjjjjjjjj</div>
                            <div class="col-md-2" style="background-color:dodgerblue; color:white">COMPANY: </div><div class="col-md-6">ghhhjjj jjjjjjjjjjj</div>
                            <div class="col-md-2" style="background-color:dodgerblue; color:white">PLAN TYPE: </div><div class="col-md-6">ghhhjjj jjjjjjjjjjj</div>
                            <div class="col-md-2" style="background-color:dodgerblue; color:white">LANPP: </div><div class="col-md-6">ghhhjjj jjjjjjjjjjj</div>
                            <div class="col-md-2" style="background-color:dodgerblue; color:white">EXPIRATION: </div><div class="col-md-6">ghhhjjj jjjjjjjjjjj</div>*@




                    </div>
                    <div class="col-md-3">

                    </div>




                </div>
            </div>

        </div>
        <!-- /col-lg-12 -->

    </section>
</section>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>