﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@*@model IEnumerable<NovoDiagnosis.Models.ViewModels.DependentViewModel>*@
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
}
@{
    var user = await UserManager.GetUserAsync(User);

}
<style>
    td.table-cell-edit {
        background-color: lightgoldenrodyellow;
    }
</style>

<section id="main-content">
    <section class="wrapper">

        <div class="row mb">
            <div class="col-lg-12">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <h4>Dependant Information</h4>

                    </div>
                </div>
            </div>
        </div>

        <div class="row mb">
            <div class="col-md-4">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        @*@{
                            if (@ViewBag.count == 1)
                            {
                                <p>
                                    You added 1 Dependant
                                </p>
                            }
                            else if (@ViewBag.count > 1)
                            {
                              <p>You added @ViewBag.count Dependant(s)</p>
                            }
                             else
                            {
                                <p>You have  0 Dependant(s)</p>
                            }


                        }*@




                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <p>
                            @*<a asp-action="Create">Create New</a>*@

                            &nbsp;&nbsp;&nbsp; <a href="" class="btn btn-facebook btn-rounded mb-4" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Add Dependant</a>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <p>
                            @*<a asp-action="Create">Create New</a>*@
                           
                            &nbsp;&nbsp;&nbsp; <button id="doPrint" class="btn btn-facebook btn-rounded mb-4"><i class="fa fa-print"></i> Print</button>
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="row mb">
            <div class="col-lg-12">
                <div class="content-panel border rounded">

                    <div class="adv-table">
                        <table class="table table-dark table-striped table-bordered" id="datatable">
                            <thead>
                                <tr>

                                    <th>
                                        Full Name
                                    </th>
                                    <th>
                                        Policy Number
                                    </th>

                                    <th>
                                        Provider Of Choice
                                    </th>
                                    <th>

                                    </th>

                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var dep in (ViewBag.Dependants as List<Enrollee>))
                                {
                                    <tr>
                                        <td>
                                            @dep.Surname @dep.Othernames
                                        </td>
                                        <td>
                                            @dep.Policynumber
                                        </td>
                                        <td>
                                            @dep.Primaryprovider
                                        </td>

                                        <td>
                                            <a asp-action="IdCards" asp-route-id="@dep.Id" class="btn btn-facebook btn-rounded mb-4"><i class="fa fa-print"></i> Print Id Card</a>

                                        </td>



                                    </tr>
                                }

                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- /col-lg-12 -->

    </section>
</section>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    var dataTable;
    $(document).ready(function () {
        loadDataTable();
    });

    $('#datatable').dataTable({
    });

</script>
