﻿@model NovoDiagnosis.Models.ViewModels.EnrolleeViewModel
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
}

<style>
    td.table-cell-edit {
        background-color: lightgoldenrodyellow;
    }


    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        padding: 2px 15px;
        border-radius: 5px; /* 5px rounded corners */
    }

        /* On mouse-over, add a deeper shadow */
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    /* Add some padding inside the card container */
    .container {
        padding: 2px 15px;
    }

    img {
        border-radius: 5px 5px 0 0;
    }
</style>
@{
    var user = await UserManager.GetUserAsync(User);

}
<section id="main-content">
    <section class="wrapper">

        <div class="row mb">
            <div class="col-lg-12">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <h4>Enrollee Profile</h4>

                    </div>
                </div>
            </div>
        </div>


        <div class="row mb">
            <div class="col-lg-12">
                <div class="content-panel border rounded">
                    <form asp-action="#">
                        <table class="table table-hover table-striped table-bordered" id="datatable">

                            <thead>
                                <tr>
                                    @TempData["Message"]
                                </tr>

                               
                               
                                
                                <tr>
                                    <td>State: </td>
                                    <td>
                                        <div class="form-group">

                                            <input class="form-control" type="text" id="Symptoms" name="State" value="@Model.State.Name" readonly />
                                            <span class="text-danger field-validation-valid" data-valmsg-for="State" data-valmsg-replace="true"></span>
                                        </div>


                                    </td>
                                </tr>
                               
                                <tr><td>Company Name:</td><td><b>@Model.Company.Name</b></td></tr>
                                <tr><td>Staff Id:</td><td><b>@Model.Staff.StaffId</b></td></tr>
                                <tr><td>Company Subsidiary:</td><td><b>@Model.CompanySubsidiary.Subsidaryname</b></td></tr>
                                <tr><td>Plan:</td><td><b>@Model.CompanyPlan.Planfriendlyname</b></td></tr>
                                <tr>
                                    <td>Provider Of Choice:</td>
                                    <td>
                                        <div class="form-group">

                                            <input class="form-control" type="text" id="Symptoms" name="Primaryprovider" value="@Model.Provider.Name" />
                                            <span class="text-danger field-validation-valid" data-valmsg-for="Primaryprovider" data-valmsg-replace="true"></span>
                                        </div>
                                    </td>
                                </tr>
                               


                            </thead>



                        </table>


                        <div class="form-group" align="right">
                            <input type="submit" value="Save" class="btn btn-facebook" />
                        </div>



                    </form>





                </div>
            </div>
        </div>

        <!-- /col-lg-12 -->

    </section>
</section>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
