﻿@using Microsoft.AspNetCore.Identity;
@using NovoDiagnosis.Data;
@using NovoDiagnosis.Models;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="">
    <title>Novo - Enrollees and Appointment Booking</title>
    <!-- Favicons -->

    <link href="~/img/icon.png" rel="icon">
    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="~/lib/gritter/css/jquery.gritter.css">
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/style-responsive.css" rel="stylesheet">
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">*@
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">*@
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">
    <link href='~/js/jquery-ui.min.css' rel='stylesheet' type='text/css'>

</head>


<body>
    <section id="container">
        <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg" style="	background-image: linear-gradient(to left, #337ab7, #000);	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
            <!--logo start-->
            <a href="index" class="logo"><img alt="avatar" src="~/img/logo.png" class="w-25 h-25" width="200"></a>

            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                @*@{
                        private readonly ApplicationDbContext _context;
                        //private readonly SignInManager<ApplicationUser> _signInManager;
                        //private readonly UserManager<ApplicationUser> _userManager;


                    }*@
            </div>

            <div class="top-menu">

                <ul class="nav pull-right top-menu">


                    @if (SignInManager.IsSignedIn(User))
                    {
                        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "DiagnosisDetails", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
                            <ul class="nav navbar-nav ">

                                @*<li><img alt="avatar" src="~/img/unionlogo.jpg" class="w-25 h-25" width="120" height="70">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>*@

                                <li>
                                    <button type="submit" class="btn btn-danger navbar-btn navbar-link"><i class="fa fa-sign-out"></i> Logout</button>
                                </li>
                            </ul>
                        </form>
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
                            <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
                        </ul>
                    }
                </ul>


            </div>
        </header>
        <!--header end-->
        <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
        <!--sidebar start--><br>
        <aside>

            <div id="sidebar" class="nav-collapse" style="	background-image: linear-gradient(to bottom, #337ab7, rgba(0,0,0,0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">

                    @*@{

                            var user = await UserManager.GetUserAsync(User);
                            var policyno = @user.Policynumber;
                            var newpolicy = policyno + ".jpg";

                        }

                        @if (user == null)
                        {
                            <h5 class="centered">Hello Guest</h5>
                        }
                        else
                        {
                            if (user.UserName == null)
                            {
                                <p class="centered"><a href="#"><img src="~/img/user.png" class="img-circle" width="80"></a></p>
                            }
                            else
                            {
                                <p class="centered"><a href="#"><img src="~/enrolleepix/@newpolicy" class="img-circle" width="80"></a></p>

                            }
                            <h5 class="centered">Hello @((await UserManager.GetUserAsync(User)).FullName)!</h5>
                        }*@



                    <br />
                    <li class="sub-menu">
                        <a href="~/Home/Index">
                            <i class="fa fa-plane"></i>
                            <span>Landing</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="~/Enrollees">
                            <i class="fa fa-user"></i>
                            <span>Enrollee Profile</span>
                        </a>
                    </li>

                    @*<li class="sub-menu">
                            <a href="~/Enrollees/Idcards">
                                <i class="fa fa-image"></i>
                                <span>Electronic Id Cards</span>
                            </a>
                        </li>*@
                    @*<li class="sub-menu">
                            <a class="sub-menu" href="~/DiagnosisDetails/Details">
                                <i class="fa fa-address-card"></i>
                                <span>Annual Medical Check</span>
                            </a>
                        </li>*@

                    @*<li class="sub-menu">
                            <a href="~/Appointments/Details">
                                <i class="fa fa-calendar"></i>
                                <span>Appointment Details</span>
                            </a>
                        </li>*@


                    @*<li class="sub-menu">
                            <a class="sub-menu" href="~/DiagnosisDetails/Create">
                                <i class="fa fa-address-card"></i>
                                <span>Create Appointment</span>
                            </a>
                        </li>*@


                    <li class="sub-menu">
                        <a href="~/Providers">
                            <i class="fa fa-hospital-o"></i>
                            <span>Available Providers</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="~/Appointments">
                            <i class="fa fa-pencil-square"></i>
                            <span>Book Appointment</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="~/MedicalHistory">
                            <i class="fa fa-history"></i>
                            <span>Medical History</span>
                        </a>
                    </li>

                    <li class="sub-menu">
                        <a href="~/CompanyBenefits">
                            <i class="fa fa-th-list"></i>
                            <span>Benefit Table</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-medkit"></i>
                            <span>Medical Check</span>
                        </a>
                        <ul class="sub">
                            <li><a href="~/DiagnosisDetails/Details">Diagnosis Details</a></li>
                            <li><a href="~/DiagnosisDetails/Create">Create Medical Check</a></li>


                        </ul>
                    </li>

                    <li class="sub-menu">
                        <a href="~/DiagnosisDetails/Referral#">
                            <i class="fa fa-print"></i>
                            <span>Print Appointment Letter</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="~/Home/Faq">
                            <i class="fa fa-question"></i>
                            <span>Faq</span>
                        </a>
                    </li>

                    <li class="sub-menu">
                        <a href="~/Supports/Create">
                            <i class="fa fa-support"></i>
                            <span>Support</span>
                        </a>
                    </li>



                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>

        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/5b50c2b8e21878736ba22390/default';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>
        <!--End of Tawk.to Script-->

        <partial name="_CookieConsentPartial" />


        @RenderBody()
        <footer class="site-footer" style="	background-image: linear-gradient(to bottom, #000, rgba(0,0,0,0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
            <div class="text-center">
                <p>Copyrights © 2019&nbsp;<b>Novo Health Africa</b>. All Rights Reserved </p>
                <a href="index.html#" class="go-top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </footer>
        <!--footer end-->
    </section>
    <!-- js placed at the end of the document so the pages load faster -->

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.flash.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js"></script>
    <script type="text/javascript">

        $(function () {

          
            var schoolname = '@ViewData["Title"]';


            var filename = schoolname;


            //Exportable table
            $('#datatable').DataTable({


                language: {
                    searchPlaceholder: "Search anything"
                },
                dom: 'Bfrtip',
                "paging": true,
				"autoWidth": true,
                buttons: ['print',
                    {
                        extend: 'csvHtml5',
                        title: schoolname,
                        filename: filename,
                        somrthing: function (data, type, row, meta) {

                            row: "sameer"
                        }


                    },
                    {
                        extend: 'excelHtml5',
                        title: schoolname,
                        filename: filename


                    },
                    {
                        extend: 'pdfHtml5',
                        title: schoolname,
                        filename: filename,

                        customize: function (doc) {
                            doc.content.splice(1, 0, {
                                margin: [10, 10, 10, 12],
                                alignment: 'center',
                                pageSize: 'A4',
                                pageMargins: [60, 80, 60, 80],
                                column: [{ width: '10%' }],
                                columngap: 10,
                                image: img,
                                width: 100,
                                height: 100

                            });
                        }
                    }



                ]
            });
        });

    </script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>
