﻿@using Microsoft.AspNetCore.Identity;
@using NovoDiagnosis.Models;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<style>
    td.table-cell-edit {
        background-color: lightgoldenrodyellow;
    }
</style>

<section id="main-content">
    <section class="wrapper">

        <div class="row mb">
            <div class="col-lg-12">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <h4>Dependant Information</h4>

                    </div>
                </div>
            </div>
        </div>

        <div class="row mb">
            <div class="col-md-4">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <p>
                            @*<a asp-action="Create">Create New</a>*@

                            &nbsp;&nbsp;&nbsp; <a href="" class="btn btn-facebook btn-rounded mb-4" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Add Dependant</a>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <p>
                            @*<a asp-action="Create">Create New</a>*@

                            &nbsp;&nbsp;&nbsp; <button onclick="Export2Doc('datatable');" class="btn btn-facebook btn-rounded mb-4">@*<i class="fa fa-download"></i> Export Appointments List*@</button>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <p>
                            @*<a asp-action="Create">Create New</a>*@

                            &nbsp;&nbsp;&nbsp; <button id="doPrint" class="btn btn-facebook btn-rounded mb-4"><i class="fa fa-print"></i> Print</button>
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="row mb">
            <div class="col-lg-12">
                <div class="content-panel border rounded">

                    <div class="adv-table">
                        <table class="table table-dark table-striped table-bordered" id="datatable">
                            <thead>
                                <tr>

                                    <th>
                                        Full Name
                                    </th>
                                    <th>
                                        Policy Number
                                    </th>

                                    <th>
                                        Provider Of Choice
                                    </th>
                                    <th>

                                    </th>

                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- /col-lg-12 -->

    </section>
</section>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

<script type="text/javascript">

    var dataTable;
    $(document).ready(function () {
        loadDataTable();
    });
    (function ($) {
        $("#datatable").DataTable({"pageLength": 50,
            ajax: {
                url: "api/EnroDependents",
                dataSrc: ""
            },



            columns: [
               

                {
                    data: "name", "autoWidth": true
                },
                {
                    data: "policyno", "autoWidth": true
                },

              
                 {
                    data: "providerofchoice", "autoWidth": true
                },
                   {
                   
        "data": "id",
                "render": function (data) {
                    return `<div class="text-center">
                                <a href="/Enrollees/IdCards/${data}" class='btn btn-facebook text-white' style='cursor:pointer; width:auto;'>
                                    <i class='fa fa-image'></i> Id Card
                                </a>
                               
                            </div>
                            `;
                }, "autowidth": "true"
                },



            ],
            "language": {
                "emptyTable": "NoT found."
            },
            "width": "90%"



        });




    })(jQuery);

</script>