﻿@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Reset your password?";
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <title>Novo - Medical Check</title>
    <!-- Favicons -->
    <link href="~/img/icon.png" rel="apple-touch-icon">
    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/style-responsive.css" rel="stylesheet">
    <style>
    body { background: url('https://source.unsplash.com/random/1920x1080/?nature,water') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover; }
    </style>

</head>
<body>
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class=""><br /><br /></div>
                </div>
            </div>
        </div>
    </div>


    <div class="text-center pb-5 mb-5 mt-5" style="	background-size: cover;	background-position: top left;	background-repeat: repeat;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <section>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <form method="post" class="form-login">
                                    <img src="~/img/logo.png" width="200" height="100">
                                    <div class="registration" align="center">
                                        <br />
                                        <h4>@ViewData["Title"]</h4>
                                        <p>You can only reset your password with the email registered with us. Kindly log in with default password if you have no email.</p>
                                    </div>
                                    <br />
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="Input.Email"></label>
                                        <input asp-for="Input.Email" class="form-control" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>

                                    <button type="submit" class="btn btn-facebook">Submit</button>


                                    <br /><br />

                                    <div class="form-group">
                                        <p><br /><br /></p>

                                    </div>
                                </form>

                            </div>
                        </div>

                        @section Scripts {
                            <partial name="_ValidationScriptsPartial" />
                        }
                    </section>
                </div>

            </div>

        </div><div></div>

        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <!--BACKSTRETCH-->
        <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
        <script type="text/javascript" src="~/lib/jquery.backstretch.min.js"></script>
        <script type="text/javascript">
            $.backstretch("~/img/bg1.jpg", {
                speed: 500
            });
        </script>

</body>
