﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <title>Novo - Medical Check</title>
    <!-- Favicons -->
    <link href="~/img/icon.png" rel="apple-touch-icon">
    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/style-responsive.css" rel="stylesheet">
    <style>
    body { background: url('https://source.unsplash.com/random/1920x1080/?nature,water') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover; }
    </style>

</head>

<body >
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class=""><br /><br /></div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center pb-5 mb-5 mt-5" style="	background-size: cover;	background-position: top left;	background-repeat: repeat;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <section>
                        <form method="post" class="form-login">
                            <img src="~/img/logo.png" width="200" height="100">
                            <div class="registration" align="center">
                                <br />
                                <h4>Kindly Login Here</h4>
                            </div>
                            <br />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Input.StaffId">STAFF ID</label>
                                <input asp-for="Input.StaffId" class="form-control" />
                                <span asp-validation-for="Input.StaffId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password">PASSWORD</label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe">
                                        <input asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <span class="pull-right">
                                <a data-toggle="modal" href="https://demonovodiag.azurewebsites.net/Identity/Account/ForgotPassword"> Reset Password</a>
                            </span>


                            <br /><br />
                            <div class="form-group">
                                <button type="submit" class="btn btn-facebook">Log in</button>
                            </div>
                            <div class="form-group">
                                <p><br /><br /></p>

                            </div>
                        </form>

                        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title">Reset Password </h4>
                                    </div>
                                    <div class="modal-body">
                                        <form asp-controller="Account"
                                              asp-action="SendPasswordResetLink"
                                              method="post">
                                            <p>Enter your e-mail address below to reset your password.</p>
                                            <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
                                            <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                                            <button class="btn btn-theme" type="button">Submit</button>
                                        </form>
                                            </div>
                                    <div class="modal-footer">
                                      

                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>

        </div><div></div>
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <!--BACKSTRETCH-->
        <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
        <script type="text/javascript" src="~/lib/jquery.backstretch.min.js"></script>
        <script type="text/javascript">
            $.backstretch("~/img/bg1.jpg", {
                speed: 500
            });
        </script>

</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
