﻿@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <title>Novo - Medical Check</title>
    <!-- Favicons -->
    <link href="~/img/icon.png" rel="apple-touch-icon">
    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/style-responsive.css" rel="stylesheet">


</head>
<body style="background-color:#669BE9 ">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class=""><br /><br /></div>
                </div>
            </div>
        </div>
    </div>


    <div class="text-center pb-5 mb-5 mt-5" style=" color:white;	background-size: cover;	background-position: top left;	background-repeat: repeat;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <section>

                        <div class="row">
                            <div class="col-md-12">
                                <h2>@ViewData["Title"]</h2>
                                <p align="center">
                                    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
                                </p>
                            </div>
                        </div>

                        @section Scripts {
                            <partial name="_ValidationScriptsPartial" />
                        }
                    </section>
                </div>

            </div>

        </div><div></div>

        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <!--BACKSTRETCH-->
        <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
        <script type="text/javascript" src="~/lib/jquery.backstretch.min.js"></script>
        <script type="text/javascript">
            $.backstretch("~/img/bg1.jpg", {
                speed: 500
            });
        </script>

</body>
