﻿@model IEnumerable<NovoDiagnosis.Models.Appointment>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row mb">
            <div class="col-lg-12">
                <!-- /form-panel -->
                <h3 align="centre" class="text-center">Annual Medical Check </h3>

                @{
                    var user = await UserManager.GetUserAsync(User);

                }

                <div class="row mb">

                    <div class="col-md-12">
                        <!-- page start-->
                        <div class="content-panel border rounded">
                            <div class="adv-table">
                                <br /><br /><br /><br /><br />
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <h4 align="center">Appointment List </h4>
                                    <h4 align="center">Plan To Be In The Hospital On or Before 9am</h4>
                                }
                                else
                                {
                                    <h4 align="center">Kindly Sign In </h4>
                                }

                                @if (user.FullName == "Victor Akinmejiwa")
                                {

                                    <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="claims" width="70%">
                                        <thead>
                                            <tr>

                                                <th width="20%">
                                                    @Html.DisplayNameFor(model => model.Provider)
                                                </th>

                                                <th>
                                                    @Html.DisplayNameFor(model => model.Email)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.PhoneNumber)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.AppointmentDate)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.AppointmentTime)
                                                </th>

                                                <th>
                                                    @Html.DisplayNameFor(model => model.Recommendation)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.AuthorizationCode)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.CompletedAnnualMedical)
                                                </th>


                                                <th></th>


                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                            <tr>

                                                <td width="20%">
                                                    @Html.DisplayFor(modelItem => item.Provider)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Email)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.AppointmentDate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.AppointmentTime)
                                                </td>


                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Recommendation)
                                                </td>
                                                <td>
                                                    @{
                                                        if (item.AuthorizationCode == null)
                                                        {
                                                            <p align="center">No Code</p>
                                                        }
                                                        else
                                                        {
                                                            @Html.DisplayFor(modelItem => item.AuthorizationCode)
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    @{
                                                        if (item.CompletedAnnualMedical == false)
                                                        {
                                                            <p align="center">No</p>
                                                        }
                                                        else
                                                        {
                                                            <p align="center">Yes</p>
                                                        }
                                                    }

                                                </td>
                                               


                                                <td> 
                                                    <a href="~/AdminDiagnosis/Edit/@item.Id" class='btn btn-facebook text-white' style='cursor:pointer; width:auto;'><i class="fa fa-edit" style="font-size:28px;color:white"></i> Approve Request</a>


                                                </td>
                                            </tr>

                                            }

                                        </tbody>
                                    </table>
                                  
                                    <form>
                                        <input type="button" value="Print"
                                               onclick="window.print()" />
                                    </form>


                                }
                                else
                                {
                                    <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="claims" width="70%">
                                        <thead>
                                            <tr>

                                                <th width="20%">
                                                    @Html.DisplayNameFor(model => model.Provider)
                                                </th>

                                                <th>
                                                    @Html.DisplayNameFor(model => model.Email)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.PhoneNumber)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.AppointmentDate)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.AppointmentTime)
                                                </th>
                                               
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Recommendation)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.AuthorizationCode)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.CompletedAnnualMedical)
                                                </th>




                                                <th></th>


                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>

                                                    <td width="20%">
                                                        @Html.DisplayFor(modelItem => item.Provider)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Email)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.AppointmentDate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.AppointmentTime)
                                                    </td>
                                                   
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Recommendation)
                                                    </td>
                                                    <td>
                                                        @{
                                                            if (item.AuthorizationCode == null)
                                                            {
                                                                <p align="center">No Code</p>
                                                            }
                                                            else
                                                            {
                                                                @Html.DisplayFor(modelItem => item.AuthorizationCode)
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @{
                                                            if (item.CompletedAnnualMedical == false)
                                                            {
                                                                <p align="center">No</p>
                                                            }
                                                            else
                                                            {
                                                                <p align="center">Yes</p>
                                                            }
                                                        }

                                                    </td>






                                                    <td>
                                                        <a asp-action="Edit" asp-route-id="@item.Id" class='btn btn-facebook text-white' style='cursor:pointer; width:auto;'><i class="fa fa-pencil"></i> Edit</a>
                                                    </td>

                                                </tr>

                                            }

                                        </tbody>
                                    </table>
                                    <form>
                                        <input type="button" value="Print"
                                               onclick="window.print()" />
                                    </form>

                                }
                                <br /><br /><br /><br /><br />
                                <br /><br /><br /><br /><br />
                                <br /><br /><br /><br /><br />
                                <br /><br /><br /><br /><br />
                            </div>


                        </div>
                    </div>
                </div>

            </div>

        </div>


        </div>

    </section>
</section>


@section Scripts{
    <script src="~/js/claim.js"></script>
}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    var dataTable;
    $(document).ready(function () {
        loadDataTable();
    });
    (function ($) {
        $("#claims").DataTable({
            ajax: {


            });
    })(jQuery);


</script>


