﻿@using Microsoft.AspNetCore.Identity;

@model NovoDiagnosis.Models.DiagnosisDetails
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
}
<style>
    .btn {
        border: none;
        color: white;
        padding: 12px 30px;
        cursor: pointer;
        font-size: 20px;
    }

        /* Darker background on mouse-over */
        .btn:hover {
            background-color: RoyalBlue;
        }
</style>
<h2>Details</h2>


<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div>
                <h4 align="center">Annual Medical Check Appointment</h4>
                <h5 align="center">Kindly use the print button below to print Appointment Authorization</h5>
                <h5 align="center">If you have completed medical check, kindly click the Check Completed Button below and check Completed Medical Check? field in the new page </h5>
                <hr />

                <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="claims" width="70%" align="center">
                    @{
                        var user = await UserManager.GetUserAsync(User);
                    }
                    <thead>
                        <tr>

                            <td><b>Full Name:  </b></td>
                            <td>@Html.DisplayFor(model => model.FullName)</td>
                        </tr>
                        <tr>

                            <td><b>Policy Number:  </b></td>
                            <td>@user.Policynumber</td>
                        </tr>
                        <tr>  <td><b>Email Address:</b> </td><td> @Html.DisplayFor(model => model.Email)</td></tr>
                        <tr><td><b>Phone Number:</b> </td><td> @Html.DisplayFor(model => model.PhoneNumber)</td></tr>
                        <tr>  <td><b>Appointment Date:</b> </td><td> @Html.DisplayFor(model => model.AppointmentDate)</td></tr>
                        <tr><td><b>Appointment Time:</b></td><td>  @Html.DisplayFor(model => model.AppointmentTime)</td></tr>
                        <tr><td><b>Authorization Code: </b></td><td> @Html.DisplayFor(model => model.AuthorizationCode)</td></tr>
                        <tr>  <td><b>Hospital:</b> </td><td> @Html.DisplayFor(model => model.Provider)</td></tr>
                        <tr>
                            <td><b>You have been authorized for the following Medical Checks:</b></td>
                            <td>
                                <ol>
                                    <li>Routine Clinic Examinations</li>
                                    <li> Physical Examination</li>
                                    <li>Urinalysis</li>
                                    <li>Hepatitis B (HBaAg)</li>
                                    <li> PCV, Fasting Blood Sugar</li>
                                    <li> ECG</li>
                                    <li>E/U/CR (Kidney Function Test)</li>
                                    <li>Liver Function Test</li>
                                    <li>Lipid Profile</li>
                                </ol>

                            </td>

                          

                        </tr>
                     


                        <tr>
                            <td>Print Your Referral Letter <a href="~/DiagnosisDetails/Referral">Here</a></td>
                            <td align="right">
                                <a href="~/DiagnosisDetails/Edit/@Model.Id" class='btn btn-facebook text-white' style='cursor:pointer; width:auto;'><i class="fa fa-thumbs-up" style="font-size:18px;color:white"></i> Annual Check Completed?</a>
                            </td>
                        </tr>

                    </thead>



                </table>


           
                
            </div>
            <!-- /row -->
    </section>
</section>