﻿@model IEnumerable<NovoDiagnosis.Models.DiagnosisDetails>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row mb">
            <div class="col-lg-12">
                <!-- /form-panel -->
                <h3 align="centre" class="text-center"></h3>

                @{
                    var user = await UserManager.GetUserAsync(User);

                }

                <div class="row mb">

                    <div class="col-md-6">
                        <!-- page start-->
                        <div class="content-panel border rounded">
                            <div class="adv-table">
                                <br /><br />
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <h4 align="center"><b>@user.FullName</b>, <br />Welcome to Novo Enrollee and Appointment Booking System.</h4>
                                    <p align="center">Brief information on how to use this application</p><hr width="30%" /><br />
                                    <p>Dear <b>@user.FullName</b>,<br/>
                                You just logged in to the Novo Health Africa Enrollee and Appointment System. This system allows you to do the following:
                                </p>
                                    <b>
                                        <ol>

                                            <li>Check and update your Profile. You can update your Email address, Phone number, Marital status, Address, Local Government, State... </li><br/>
                                            <li>Check and Print Electronic Id Card. You can also log in and present this electronic Id Card in any of our partner hospital.</li><br/>
                                            <li> See the total number of dependents you can add and dependents you have added already. You can also see the Electronic Id cards.</li><br/>
                                            <li>There is a list of our Providers(Hospitals) located in your state of resident. This list of Providers is configured base on the state in your profile.</li><br/>
                                            <li>You can book an appointment, see the list of appointments you have previously created. You can also update the appointment to indicate that you have access care.</li><br/>
                                            <li>You can also see your medical history including the name of the hospital, diagnosis and you can also report to Novo Health if you didn't access care at this facility. </li>
                                            <li>You can see your benefit table. List of health care services you are covered to access.</li>
                                            <li>Live Chat system. Use this system to contact our available agent.</li>
                                        </ol>
                                    </b>

                                    <br /><br />
                                }
                                else
                                {
                                    <h4 align="center">Kindly Sign In </h4>
                                }








                            </div>


                        </div>
                    </div>
                </div>

            </div>

        </div>


     

    </section>
</section>


@section Scripts{
    <script src="~/js/claim.js"></script>
}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    var dataTable;
    $(document).ready(function () {
        loadDataTable();
    });
    (function ($) {
        $("#claims").DataTable({
            ajax: {


            });
    })(jQuery);

    function guid(e) {
        function s4() {
            return Math.floor((1 + Math.random()) * 0x10000)
                .toString(16)
                .substring(1);
        }


        if (e == 1) {
            return 'NHA-NHIS-' + s4() + s4() + '-' + s4();
        }
        return 'NHA-' + s4() + s4() + '-' + s4();

        // return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
        //s4() + '-' + s4() + s4() + s4();
    }
    function guidCus(e) {

        function s5() {
            return Math.floor((1 + Math.random()) * 0x10000)
                .toString(16)
                .substring(1);
        }
        function s4() {
            return Date.now().toString().substring(8, 13);
        }


        if (e == 1) {
            return 'NHA-NHIS-' + s5() + '-' + s4() + $('#userinitial').val();
        }
        return 'NHA-' + s5() + '-' + s4() + $('#userinitial').val();

        // return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
        //s4() + '-' + s4() + s4() + s4();
    }
</script>
