﻿@using Microsoft.AspNetCore.Identity
@model NovoDiagnosis.Models.ViewModels.EnrolleeViewModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
    }

    .title {
        color: grey;
        font-size: 18px;
    }

    button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    a {
        text-decoration: none;
        font-size: 22px;
        color: black;
    }

        button:hover, a:hover {
            opacity: 0.7;
        }

    .id-card {
        border: 2px solid #0AE0DF;
        max-width: 30em;
        margin: auto;
        color: #fff;
        padding: 1em;
    }

    .id-card-wrapper {
        height: 100vh;
        width: 100%;
        background-color: #122023;
        display: flex;
    }

    .id-card {
        flex-basis: 100%;
        border: 2px solid #0AE0DF;
        max-width: 30em;
        margin: auto;
        background-color: #122023;
        display: flex;
    }
</style>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@{
    var user = await UserManager.GetUserAsync(User);

}

<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row mb">
            <br /><br /><br />
            <div class="col-lg-12">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <h4>List Of Appointments</h4>

                    </div>
                </div>
            </div>
        </div>

        <div class="row mb">
            <div class="col-md-4">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <p>
                            @*<a asp-action="Create">Create New</a>*@

                            &nbsp;&nbsp;&nbsp; <a href="" class="btn btn-facebook btn-rounded mb-4" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Book Appointment</a>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <p>
                            @*<a asp-action="Create">Create New</a>*@

                            &nbsp;&nbsp;&nbsp; <button onclick="Export2Doc('datatable');" class="btn btn-facebook btn-rounded mb-4"><i class="fa fa-download"></i> Export Appointments History</button>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <p>
                            @*<a asp-action="Create">Create New</a>*@

                            &nbsp;&nbsp;&nbsp; <button id="doPrint" class="btn btn-facebook btn-rounded mb-4"><i class="fa fa-print"></i> Print</button>
                        </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="row mb">
            @{
                var Code = Guid.NewGuid().ToString("n").Substring(0, 8);


            }

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Book New Appointment</h4>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12">

                            </div>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="row mb">
            <div class="col-lg-12">
                <div class="content-panel border rounded">

                    <div class="adv-table">
                        <p>
                            <br /><br />
                        </p>
                        <table class="table table-hover table-bordered" id="datatable">
                            <thead>
                                <tr>Enrollee Profile</tr>
                                <tr>

                                    <td>Full Name: </td>
                                    <td>@user.FullName </td>
                                    @ViewBag.Profile

                                </tr>
                                <tr>  <td>Policy Number: </td><td> @user.Policynumber</td></tr>
                                <tr>  <td>Email Address: </td><td> @user.Email</td></tr>
                                <tr><td>Staff Id:</td><td>  @user.StaffId</td></tr>
                                <tr><td>Phone Number: </td><td> @user.PhoneNumber</td></tr>
                                <tr>
                                    <td>Password: </td>
                                    <td>************</td>
                                </tr>
                                <tr>  <td>City: </td><td> @user.City</td></tr>
                                <tr><td>State:</td><td>  @user.State</td></tr>
                                <tr><td>Country: </td><td> @user.Country</td></tr>



                                </h4>

                                </tr>
                            </thead>



                        </table>




                    </div>

                    <div class="col-md-5">


                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />

                    </div>


                </div>
            </div>
        </div>

        </div>

        </div>



    </section>
</section>


@section Scripts{
    <script src="~/js/claim.js"></script>
}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    var dataTable;
    $(document).ready(function () {
        loadDataTable();
    });
    (function ($) {
        $("#claims").DataTable({
            ajax: {


            });
    })(jQuery);


</script>


