﻿@using Microsoft.AspNetCore.Identity;

@model NovoDiagnosis.Models.Appointment
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
    //Layout = null;
}
<style>
    .btn {
        border: none;
        color: white;
        padding: 12px 30px;
        cursor: pointer;
        font-size: 20px;
    }

        /* Darker background on mouse-over */
        .btn:hover {
            background-color: RoyalBlue;
        }
</style>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row mb">
            <br /><br /><br />
            <div class="col-lg-12">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <h4>List Of Appointments</h4>

                    </div>
                </div>
            </div>
        </div>

        <div class="row mb">
            <div class="col-md-4">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <p>
                            @*<a asp-action="Create">Create New</a>*@

                            &nbsp;&nbsp;&nbsp; <a href="" class="btn btn-facebook btn-rounded mb-4" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Book Appointment</a>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <p>
                            @*<a asp-action="Create">Create New</a>*@

                            &nbsp;&nbsp;&nbsp; <button onclick="Export2Doc('datatable');" class="btn btn-facebook btn-rounded mb-4"><i class="fa fa-download"></i> Export Appointments History</button>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <p>
                            @*<a asp-action="Create">Create New</a>*@

                            &nbsp;&nbsp;&nbsp; <button id="doPrint" class="btn btn-facebook btn-rounded mb-4"><i class="fa fa-print"></i> Print</button>
                        </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="row mb">
            @{
                var Code = Guid.NewGuid().ToString("n").Substring(0, 8);


            }

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Book New Appointment</h4>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12">

                            </div>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="row mb">
            <div class="col-lg-12">
                <div class="content-panel border rounded">

                    <div class="adv-table">
                        <p>
                            <br /><br />
                        </p>
                        <table class="table table-hover table-bordered" id="datatable">
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">Book New Appointment</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="col-md-12">
                                                <!-- page start-->
                                                <div class="content-panel border rounded">
                                                    <div class="adv-table">
                                                        <br /><br />

                                                        <div id="exportContent">
                                                            <div class="container2">
                                                                <img src="~/img/logo.png" width="400" height="100">
                                                                <br /><br /><br /><br />
                                                                <p align="left">
                                                                    Dear @Html.DisplayFor(model => model.FullName),<br /><br>
                                                                    Kindly be informed that your annual medical checkup has been Scheduled at <b>
                                                                        @Html.DisplayFor(model => model.Provider), @Html.DisplayFor(model => model.State) on @Html.DisplayFor(model => model.AppointmentDate)
                                                                    </b>.<br /><br />Your authorization code is <b>@Html.DisplayFor(model => model.AuthorizationCode)</b>.
                                                                    <br /> Below are the panel of investigations to be conducted:<br /><br />


                                                                    <ul>

                                                                        <li> Routine Clinic Examinations</li>

                                                                        <li> Physical Examination </li>

                                                                        <li> Urinalysis </li>

                                                                        <li> Hepatitis B(HBaAg) </li>

                                                                        <li> PCV, Fasting Blood Sugar </li>

                                                                        <li> ECG </li>

                                                                        <li> E / U / CR(Kidney Function Test) </li>

                                                                        <li> Liver Function Test</li>

                                                                        <li> Lipid Profile </li>

                                                                    </ul>


                                                                    <br />

                                                                    <br /> Thank you for choosing Novo Health Africa.

                                                                    <br /><br /> <img src="~/images/signature.jpg" width="200" height="100">
                                                                    <hr width="50%" />
                                                                <p align="center">
                                                                    <small>
                                                                        Lagos: Ploat 10A, Akiogun Road, Oniru, Lagos State.<br />
                                                                        Abuja: Block B, Ground Floor, Plot 564/565 Independence Avenue, AUJ Complex, Central Business District, F.C.T., Abuja.<br />
                                                                        Kano: Suite C6, Ground Floor, Ummi Plza, 14/15 Trade Fair Complex. Off Zaria Road, Kano State.<br />
                                                                        Port-Harcourt: 2nd Floor, BSIC 15 Mall, 66 Olu Obasanjo Way, Port-Harcourt, Rivers State.<br />
                                                                        Enugu: 123, Chime Avenue. Zandans Plaza, New Heaven, Enugu State.<br />
                                                                        Ibadan: Suite 7, ASE Complex, Before State Veterinary Junction, Mokola Ibadan.<br />
                                                                        Tel: +234(1) 2900047 Email: info@novohealthafrica.org Website: www.novohealthafrica.org
                                                                    </small>
                                                                </p>

                                                                <div class="content-footer">
                                                                    <br />

                                                                </div>

                                                                <br /><br />



                                                                <br />

                                                                <a href="/DiagnosisDetails/Details"> Back to Appointment Details</a>

                                                            </div>
                                                            <div class="row">
                                                            </div>
                                                            <div>








                                                            </div>


                                                        </div>
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    <button id="doPrint" class="btn-facebook">Print</button>

                                                                </td>
                                                                <td>
                                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button onclick="Export2Doc('exportContent');" class="btn-facebook">Download Referral Letter</button>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>


                                    </div>

                                </div>
                                </div>
                            </div>
                    </div>

                    <!-- /col-lg-12 -->

    </section>
</section>

<script>
    document.getElementById("doPrint").addEventListener("click", function () {
        var printContents = document.getElementById('exportContent').innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    });

</script>
<script>

    function Export2Doc(element, filename = '') {
        //  _html_ will be replace with custom html
        var meta = "Mime-Version: 1.0\nContent-Base: " + location.href + "\nContent-Type: Multipart/related; boundary=\"NEXT.ITEM-BOUNDARY\";type=\"text/html\"\n\n--NEXT.ITEM-BOUNDARY\nContent-Type: text/html; charset=\"utf-8\"\nContent-Location: " + location.href + "\n\n<!DOCTYPE html>\n<html>\n_html_</html>";
        //  _styles_ will be replaced with custome css
        var head = "<head>\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\n<style>\n_styles_\n</style>\n</head>\n";
        //  _body_ will be replaced with custome body html
        var body = "<body>_body_</body>";
        //var preHtml = "<html xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:w='urn:schemas-microsoft-com:office:word' xmlns='http://www.w3.org/TR/REC-html40'><head><meta charset='utf-8'><title>Export HTML To Doc</title></head><body>";
        //var postHtml = "</body></html>";

        //var html = preHtml + document.getElementById(element).innerHTML + postHtml;
        var html = document.getElementById(element).innerHTML;

        var blob = new Blob(['\ufeff', html], {
            type: 'application/msword'
        });

        var css = (
            '<style>' +
            'img {width:300px;}' +
            '</style>'
        );
        //  Image Area %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
        var options = { maxWidth: 624 };
        var images = Array();
        var img = $("#" + element).find("img");
        for (var i = 0; i < img.length; i++) {
            // Calculate dimensions of output image
            var w = Math.min(img[i].width, options.maxWidth);
            var h = img[i].height * (w / img[i].width);
            // Create canvas for converting image to data URL
            var canvas = document.createElement("CANVAS");
            canvas.width = w;
            canvas.height = h;
            // Draw image to canvas
            var context = canvas.getContext('2d');
            context.drawImage(img[i], 0, 0, w, h);
            // Get data URL encoding of image
            var uri = canvas.toDataURL("image/png");
            $(img[i]).attr("src", img[i].src);
            img[i].width = w;
            img[i].height = h;
            // Save encoded image to array
            images[i] = {
                type: uri.substring(uri.indexOf(":") + 1, uri.indexOf(";")),
                encoding: uri.substring(uri.indexOf(";") + 1, uri.indexOf(",")),
                location: $(img[i]).attr("src"),
                data: uri.substring(uri.indexOf(",") + 1)
            };
        }

        // Prepare bottom of mhtml file with image data
        var imgMetaData = "\n";
        for (var i = 0; i < images.length; i++) {
            imgMetaData += "--NEXT.ITEM-BOUNDARY\n";
            imgMetaData += "Content-Location: " + images[i].location + "\n";
            imgMetaData += "Content-Type: " + images[i].type + "\n";
            imgMetaData += "Content-Transfer-Encoding: " + images[i].encoding + "\n\n";
            imgMetaData += images[i].data + "\n\n";

        }
        imgMetaData += "--NEXT.ITEM-BOUNDARY--";
        // end Image Area %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

        var output = meta.replace("_html_", head.replace("_styles_", css) + body.replace("_body_", html)) + imgMetaData;

        var url = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(output);


        filename = filename ? filename + '.doc' : 'referralletter.doc';


        var downloadLink = document.createElement("a");

        document.body.appendChild(downloadLink);

        if (navigator.msSaveOrOpenBlob) {
            navigator.msSaveOrOpenBlob(blob, filename);
        } else {

            downloadLink.href = url;
            downloadLink.download = filename;
            downloadLink.click();
        }

        document.body.removeChild(downloadLink);
    }
            //function exportHTML() {
            //    var header = "<html xmlns:o='urn:schemas-microsoft-com:office:office' " +
            //        "xmlns:w='urn:schemas-microsoft-com:office:word' " +
            //        "xmlns='http://www.w3.org/TR/REC-html40'>" +
            //        "<head><meta charset='utf-8'><title>Export HTML to Word Document with JavaScript</title></head><body>";
            //    var footer = "</body></html>";
            //    var sourceHTML = header + document.getElementById("source-html").innerHTML + footer;

            //    var source = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(sourceHTML);
            //    var fileDownload = document.createElement("a");
            //    document.body.appendChild(fileDownload);
            //    fileDownload.href = source;
            //    fileDownload.download = 'referralletter.doc';
            //    fileDownload.click();
            //    document.body.removeChild(fileDownload);
            //}
</script>
