﻿@model IEnumerable<NovoDiagnosis.Models.Notification>

@{
    ViewData["Title"] = "Index";
}
<section id="main-content">
    <section class="wrapper">
        <div class="row mb">
            <br /><br /><br />
            <div class="col-lg-12">
                <div class="content-panel border rounded">

                    <div class="adv-table">

                        <h4>Notification and Messages</h4>

                    </div>
                </div>
            </div>
        </div>

        <div class="row mb">
            <div class="col-md-4">
               
               
            </div>
           
        </div>
        
    </section>
    </section>
                    <section id="main-content">
                        <section class="wrapper">
                            <!-- page start-->
                            <div class="row mt">
                                <div class="col-sm-3">
                                    <section class="panel">
                                        <div class="panel-body">
                                            @*<a href="" class="btn btn-facebook btn-rounded mb-4" data-toggle="modal" data-target="#myModal">
                                                    <i class="fa fa-pencil"></i>  Compose Mail
                                                </a>*@

                                            <a href="" class="btn btn-compose" data-toggle="modal" data-target="#myModal">
                                                <i class="fa fa-pencil"></i>  Compose Mail
                                            </a>
                                            @*<ul class="nav nav-pills nav-stacked mail-nav">
                                                    <li class="active"><a href="inbox.html"> <i class="fa fa-inbox"></i> Inbox  <span class="label label-theme pull-right inbox-notification">3</span></a></li>
                                                    <li><a href="#"> <i class="fa fa-envelope-o"></i> Send Mail</a></li>
                                                    <li><a href="#"> <i class="fa fa-exclamation-circle"></i> Important</a></li>
                                                    <li>
                                                        <a href="#"> <i class="fa fa-file-text-o"></i> Drafts <span class="label label-info pull-right inbox-notification">8</span></a></a>
                                                    </li>
                                                    <li><a href="#"> <i class="fa fa-trash-o"></i> Trash</a></li>
                                                </ul>*@
                                        </div>
                                    </section>
                                    <section class="panel">
                                        <div class="panel-body">
                                            @*<ul class="nav nav-pills nav-stacked labels-info ">
                                                    <li>
                                                        <h4>Friends Online</h4>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="img/friends/fr-10.jpg" class="img-circle" width="20">Laura
                                                            <p><span class="label label-success">Available</span></p>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="img/friends/fr-05.jpg" class="img-circle" width="20">David
                                                            <p><span class="label label-danger"> Busy</span></p>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="img/friends/fr-01.jpg" class="img-circle" width="20">Mark
                                                            <p>Offline</p>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="img/friends/fr-03.jpg" class="img-circle" width="20">Phillip
                                                            <p>Offline</p>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="img/friends/fr-02.jpg" class="img-circle" width="20">Joshua
                                                            <p>Offline</p>
                                                        </a>
                                                    </li>
                                                </ul>*@
                                            @*<a href="#"> + Add More</a>
                                                <div class="inbox-body text-center inbox-action">
                                                    <div class="btn-group">
                                                        <a class="btn mini btn-default" href="javascript:;">
                                                            <i class="fa fa-power-off"></i>
                                                        </a>
                                                    </div>
                                                    <div class="btn-group">
                                                        <a class="btn mini btn-default" href="javascript:;">
                                                            <i class="fa fa-cog"></i>
                                                        </a>
                                                    </div>
                                                </div>*@
                                        </div>
                                    </section>
                                </div>
                                <div class="col-sm-9">
                                    <section class="panel">
                                        <header class="panel-heading wht-bg">
                                            <h4 class="gen-case">
                                                Notification (@ViewBag.Noticount)
                                                <form action="#" class="pull-right mail-src-position">
                                                    <div class="input-append">
                                                        <input type="text" class="form-control " placeholder="Search Mail">
                                                    </div>
                                                </form>
                                            </h4>
                                        </header>
                                        <div class="panel-body minimal">
                                            <div class="mail-option">
                                                <div class="chk-all">
                                                    <div class="pull-left mail-checkbox">
                                                        <input type="checkbox" class="">
                                                    </div>
                                                    <div class="btn-group">
                                                        <a data-toggle="dropdown" href="#" class="btn mini all">
                                                            All
                                                            <i class="fa fa-angle-down "></i>
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#"> None</a></li>
                                                            <li><a href="#"> Read</a></li>
                                                            <li><a href="#"> Unread</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="btn-group">
                                                    <a data-original-title="Refresh" data-placement="top" data-toggle="dropdown" href="#" class="btn mini tooltips">
                                                        <i class=" fa fa-refresh"></i>
                                                    </a>
                                                </div>
                                                <div class="btn-group hidden-phone">
                                                    <a data-toggle="dropdown" href="#" class="btn mini blue">
                                                        More
                                                        <i class="fa fa-angle-down "></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                                                        <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                                                    </ul>
                                                </div>
                                                <div class="btn-group">
                                                    <a data-toggle="dropdown" href="#" class="btn mini blue">
                                                        Move to
                                                        <i class="fa fa-angle-down "></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                                                        <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                                                    </ul>
                                                </div>
                                                <ul class="unstyled inbox-pagination">
                                                    <li><span>@ViewBag.Noticount of @ViewBag.Noticount</span></li>
                                                    <li>
                                                        <a class="np-btn" href="#"><i class="fa fa-angle-left  pagination-left"></i></a>
                                                    </li>
                                                    <li>
                                                        <a class="np-btn" href="#"><i class="fa fa-angle-right pagination-right"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="table-inbox-wrap ">
                                                <table class="table table-inbox table-hover">
                                                    <tbody>
                                                        @foreach (var item in Model)
                                                        {
                                                            <tr class="unread">
                                                                <td class="inbox-small-cells">
                                                                    <input type="checkbox" class="mail-checkbox">
                                                                </td>
                                                                <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                                                                <td class="view-message  dont-show"><a href="@Html.DisplayFor(modelItem => item.Sender)"></a></td>
                                                                <td class="view-message "><a href="mail_view.html">@Html.DisplayFor(modelItem => item.Subject)</a></td>
                                                                <td class="view-message  inbox-small-cells"> @Html.DisplayNameFor(model => model.Status)</td>
                                                                <td class="view-message  text-right">@Html.DisplayNameFor(model => model.CreatedOn)</td>
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </section>
                        <!-- /wrapper -->
                    </section>


                    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
                    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
                    <script type="text/javascript">
                        var dataTable;
                        $(document).ready(function () {
                            loadDataTable();
                        });

                        $('#datatable').dataTable({
                        });

                    </script>

                    <script>
                        document.getElementById("doPrint").addEventListener("click", function () {
                            var printContents = document.getElementById('datatable').innerHTML;
                            var originalContents = document.body.innerHTML;
                            document.body.innerHTML = printContents;
                            window.print();
                            document.body.innerHTML = originalContents;
                        });


                        function Export2Doc(element, filename = '') {
                            //  _html_ will be replace with custom html
                            var meta = "Mime-Version: 1.0\nContent-Base: " + location.href + "\nContent-Type: Multipart/related; boundary=\"NEXT.ITEM-BOUNDARY\";type=\"text/html\"\n\n--NEXT.ITEM-BOUNDARY\nContent-Type: text/html; charset=\"utf-8\"\nContent-Location: " + location.href + "\n\n<!DOCTYPE html>\n<html>\n_html_</html>";
                            //  _styles_ will be replaced with custome css
                            var head = "<head>\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\n<style>\n_styles_\n</style>\n</head>\n";
                            //  _body_ will be replaced with custome body html
                            var body = "<body>_body_</body>";
                            //var preHtml = "<html xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:w='urn:schemas-microsoft-com:office:word' xmlns='http://www.w3.org/TR/REC-html40'><head><meta charset='utf-8'><title>Export HTML To Doc</title></head><body>";
                            //var postHtml = "</body></html>";

                            //var html = preHtml + document.getElementById(element).innerHTML + postHtml;
                            var html = document.getElementById(element).innerHTML;

                            var blob = new Blob(['\ufeff', html], {
                                type: 'application/msword'
                            });

                            var css = (
                                '<style>' +
                                'img {width:300px;}' +
                                '</style>'
                            );
                            //  Image Area %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
                            var options = { maxWidth: 624 };
                            var images = Array();
                            var img = $("#" + element).find("img");
                            for (var i = 0; i < img.length; i++) {
                                // Calculate dimensions of output image
                                var w = Math.min(img[i].width, options.maxWidth);
                                var h = img[i].height * (w / img[i].width);
                                // Create canvas for converting image to data URL
                                var canvas = document.createElement("CANVAS");
                                canvas.width = w;
                                canvas.height = h;
                                // Draw image to canvas
                                var context = canvas.getContext('2d');
                                context.drawImage(img[i], 0, 0, w, h);
                                // Get data URL encoding of image
                                var uri = canvas.toDataURL("image/png");
                                $(img[i]).attr("src", img[i].src);
                                img[i].width = w;
                                img[i].height = h;
                                // Save encoded image to array
                                images[i] = {
                                    type: uri.substring(uri.indexOf(":") + 1, uri.indexOf(";")),
                                    encoding: uri.substring(uri.indexOf(";") + 1, uri.indexOf(",")),
                                    location: $(img[i]).attr("src"),
                                    data: uri.substring(uri.indexOf(",") + 1)
                                };
                            }

                            // Prepare bottom of mhtml file with image data
                            var imgMetaData = "\n";
                            for (var i = 0; i < images.length; i++) {
                                imgMetaData += "--NEXT.ITEM-BOUNDARY\n";
                                imgMetaData += "Content-Location: " + images[i].location + "\n";
                                imgMetaData += "Content-Type: " + images[i].type + "\n";
                                imgMetaData += "Content-Transfer-Encoding: " + images[i].encoding + "\n\n";
                                imgMetaData += images[i].data + "\n\n";

                            }
                            imgMetaData += "--NEXT.ITEM-BOUNDARY--";
                            // end Image Area %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

                            var output = meta.replace("_html_", head.replace("_styles_", css) + body.replace("_body_", html)) + imgMetaData;

                            var url = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(output);


                            filename = filename ? filename + '.doc' : 'bank.doc';


                            var downloadLink = document.createElement("a");

                            document.body.appendChild(downloadLink);

                            if (navigator.msSaveOrOpenBlob) {
                                navigator.msSaveOrOpenBlob(blob, filename);
                            } else {

                                downloadLink.href = url;
                                downloadLink.download = filename;
                                downloadLink.click();
                            }

                            document.body.removeChild(downloadLink);
                        }

                    </script>
