﻿@model NovoDiagnosis.Models.Enrollee

@{
    ViewData["Title"] = "Create";
    //Random random = new Random();
    //// Any random integer
    //int Code = random.Next(12, 14);
    var MyGuid = Guid.NewGuid().ToString();

    Random random = new Random();
    string Code = string.Join(string.Empty, Enumerable.Range(0, 12).Select(number => random.Next(0, 11).ToString()));
    Layout = null;

}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <title>Novo Enrollee App</title>
    <!-- Favicons -->
    <link href="~/img/icon.png" rel="apple-touch-icon">
    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/style-responsive.css" rel="stylesheet">
    <style>
        body {
            background: url('https://source.unsplash.com/random/1920x1080/?nature,water') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
            width: 100%;
            margin: 0 auto;
            padding: 0px;
            font-family: helvetica;
        }

        #wrapper {
            text-align: center;
            margin: 0 auto;
            padding: 0px;
            width: 995px;
        }

        #output_image {
            max-width: 300px;
        }
    </style>

</head>

<body style=" background-image: url('/images/checks.jpg');">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class=""><br /><br /></div>
                </div>
            </div>
        </div>
    </div>

    <section id="main-content">
        <section class="wrapper">
            <div id="login-page">
                <div class="col-md-10">
                    <div class="content-panel border rounded">

                        <div class="row">
                            <div class="col-md-4"></div>


                            <div class="col-md-4">
                                <form asp-action="Create">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group" hidden>
                                        <label asp-for="Parentid" class="control-label"></label>
                                        <input asp-for="Parentid" value="0" class="form-control" />
                                        <span asp-validation-for="Parentid" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="Parentrelationship" class="control-label"></label>
                                        <input asp-for="Parentrelationship" value="0" class="form-control" />
                                        <span asp-validation-for="Parentrelationship" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Occupation" class="control-label">Staff Name</label>

                                        <input class="form-control" id="nomeCliente" name="StaffFullname" type="text" value="@TempData["StaffName"]" readonly="readonly" required>

                                    </div>

                                    <div class="form-group" hidden>
                                        <label asp-for="Policynumber" class="control-label">Policy Number</label>
                                        <input asp-for="Policynumber" value="NHA-@Code" class="form-control" required />
                                        <span asp-validation-for="Policynumber" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="Title" class="control-label"></label>
                                        <input asp-for="Title" class="form-control" />
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="Surname" class="control-label"></label>
                                        <input asp-for="Surname" class="form-control" />
                                        <span asp-validation-for="Surname" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="Othernames" class="control-label"></label>
                                        <input asp-for="Othernames" class="form-control" />
                                        <span asp-validation-for="Othernames" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Dob" class="control-label"></label>
                                        <input type="date" asp-for="Dob" class="form-control" required />
                                        <span asp-validation-for="Dob" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Occupation" class="control-label">Gender</label>


                                        <select class="form-control" id="sex" name="sex" required>
                                            <option value="0">Male</option>
                                            <option value="1">Female</option>
                                        </select>

                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Occupation" class="control-label">Marital Status</label>

                                        <select class="form-control" id="maritalstatusvalue" name="maritalstatusvalue" required>
                                            <option value="0">Single</option>
                                            <option value="1">Married</option>
                                            <option value="2">Divorced</option>
                                        </select>

                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Emailaddress" class="control-label">Email Address</label>
                                        <input asp-for="Emailaddress" class="form-control" required />
                                        <span asp-validation-for="Emailaddress" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Mobilenumber" class="control-label">Mobile Number</label>
                                        <input asp-for="Mobilenumber" class="form-control" required />
                                        <span asp-validation-for="Mobilenumber" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Mobilenumber2" class="control-label">Mobile Number 2</label>
                                        <input asp-for="Mobilenumber2" class="form-control" required />
                                        <span asp-validation-for="Mobilenumber2" class="text-danger"></span>
                                    </div>

                                    <div class="form-group" hidden>
                                        <label asp-for="Age" class="control-label"></label>
                                        <input asp-for="Age" class="form-control" />
                                        <span asp-validation-for="Age" class="text-danger"></span>
                                    </div>



                                    <div class="form-group">
                                        <label asp-for="Residentialaddress" class="control-label">Residential Address</label>
                                        <input asp-for="Residentialaddress" class="form-control" required />
                                        <span asp-validation-for="Residentialaddress" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Stateid" class="control-label">State</label>
                                        <input asp-for="Stateid" class="form-control" required />
                                        <span asp-validation-for="Stateid" class="text-danger"></span>
                                    </div>

                                    @*<div class="form-group">
            <label asp-for="Stateid" class="control-label">State</label>
            @Html.DropDownList("Stateid", (IEnumerable<SelectListItem>)ViewBag.State, null, new { @id = "searchCNPJ", @class = "form-control" })

            <span asp-validation-for="Stateid" class="text-danger"></span>
        </div>*@
                                    <div class="form-group">
                                        <label asp-for="Lgaid" class="control-label">Local Govt. Area</label>

                                        <input asp-for="Lgaid" value="" class="form-control" />
                                        <span asp-validation-for="Lgaid" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Occupation" class="control-label">Occupation</label>
                                        <input asp-for="Occupation" class="form-control" required />
                                        <span asp-validation-for="Occupation" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="Sponsorshiptype" class="control-label"></label>
                                        <input asp-for="Sponsorshiptype" value="0" class="form-control" />
                                        <span asp-validation-for="Sponsorshiptype" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="Sponsorshiptypeothername" class="control-label"></label>
                                        <input asp-for="Sponsorshiptypeothername" value="" class="form-control" />
                                        <span asp-validation-for="Sponsorshiptypeothername" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">

                                        <label asp-for="Preexistingmedicalhistory" class="control-label">Pre-existing Medical Condition</label>

                                        <textarea class="form-control" cols="20" id="premedicalcondition" name="Preexistingmedicalhistory" placeholder="Pre-existing Medical Conditions" rows="2" required>
</textarea>

                                    </div>

                                    <div class="form-group" hidden>
                                        <label asp-for="Sponsorshiptypenote" class="control-label"></label>
                                        <input asp-for="Sponsorshiptypenote" value="" class="form-control" />
                                        <span asp-validation-for="Sponsorshiptypenote" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="Companyid" class="control-label"></label>
                                        <input asp-for="Companyid" value="@ViewBag.Companyid" class="form-control" />
                                        <span asp-validation-for="Companyid" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="Subscriptionplanid" class="control-label"></label>
                                        <input asp-for="Subscriptionplanid" value="@TempData["Staffplanid"]" class="form-control" />
                                        <span asp-validation-for="Subscriptionplanid" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="Hasdependents" class="control-label"></label>
                                        <input asp-for="Hasdependents" class="form-control" />
                                        <span asp-validation-for="Hasdependents" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="Specialidcardfield1" class="control-label"></label>
                                        <input asp-for="Specialidcardfield1" class="form-control" />
                                        <span asp-validation-for="Specialidcardfield1" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="Specialidcardfield2" class="control-label"></label>
                                        <input asp-for="Specialidcardfield2" class="form-control" />
                                        <span asp-validation-for="Specialidcardfield2" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="Specialidcardfield3" class="control-label"></label>
                                        <input asp-for="Specialidcardfield3" class="form-control" />
                                        <span asp-validation-for="Specialidcardfield3" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="Staffprofileid" class="control-label"></label>
                                        <input asp-for="Staffprofileid" value="@TempData["Staffprofileid"]" class="form-control" />
                                        <span asp-validation-for="Staffprofileid" class="text-danger"></span>
                                    </div>
                                    @*<div class="form-group">
            <label asp-for="Occupation" class="control-label">Hospital Of Choice</label>
            @Html.DropDownList("Id", (IEnumerable<SelectListItem>)ViewBag.Provider, null, new { @class = "form-control" })

            <span asp-validation-for="Primaryprovider" class="text-danger"></span>
        </div>*@
                                    <br /><br />
                                    <div class="form-group">
                                        <label asp-for="Primaryprovider" class="control-label"></label>
                                        <input asp-for="Primaryprovider" class="form-control" />
                                        <span asp-validation-for="Primaryprovider" class="text-danger"></span>
                                    </div>

                                    <div class="form-group" hidden>
                                        <label asp-for="Status" class="control-label"></label>
                                        <input asp-for="Status" class="form-control" />
                                        <span asp-validation-for="Status" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="Hasactivesubscription" class="control-label"></label>
                                        <input asp-for="Hasactivesubscription" class="form-control" />
                                        <span asp-validation-for="Hasactivesubscription" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="Isexpundged" class="control-label"></label>
                                        <input asp-for="Isexpundged" value="0" class="form-control" />
                                        <span asp-validation-for="Isexpundged" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="ExpungeNote" class="control-label"></label>
                                        <input asp-for="ExpungeNote" class="form-control" />
                                        <span asp-validation-for="ExpungeNote" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="Expungedby" class="control-label"></label>
                                        <input asp-for="Expungedby" value="Not Expunged" class="form-control" />
                                        <span asp-validation-for="Expungedby" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="Dateexpunged" class="control-label"></label>
                                        <input asp-for="Dateexpunged" class="form-control" />
                                        <span asp-validation-for="Dateexpunged" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="Createdby" class="control-label"></label>
                                        <input asp-for="Createdby" value="0" class="form-control" />
                                        <span asp-validation-for="Createdby" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="Datereceived" class="control-label"></label>
                                        <input asp-for="Datereceived" value="@DateTime.Now" class="form-control" />
                                        <span asp-validation-for="Datereceived" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="Guid" class="control-label"></label>
                                        <input asp-for="Guid" value="@MyGuid" class="form-control" />
                                        <span asp-validation-for="Guid" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="CreatedOn" class="control-label"></label>
                                        <input asp-for="CreatedOn" value="@DateTime.Now" class="form-control" />
                                        <span asp-validation-for="CreatedOn" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="UpdatedOn" class="control-label"></label>
                                        <input asp-for="UpdatedOn" value="@DateTime.Now" class="form-control" />
                                        <span asp-validation-for="UpdatedOn" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="IsDeleted" class="control-label"></label>
                                        <input asp-for="IsDeleted" value="0" class="form-control" />
                                        <span asp-validation-for="IsDeleted" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="EnrolleePassportId" class="control-label"></label>
                                        <input asp-for="EnrolleePassportId" class="form-control" />
                                        <span asp-validation-for="EnrolleePassportId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="IdCardPrinted" class="control-label"></label>
                                        <input asp-for="IdCardPrinted" value="0" class="form-control" />
                                        <span asp-validation-for="IdCardPrinted" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="RefPolicynumber" class="control-label"></label>
                                        <input asp-for="RefPolicynumber" class="form-control" />
                                        <span asp-validation-for="RefPolicynumber" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="HasRefPolicyNumber" class="control-label"></label>
                                        <input asp-for="HasRefPolicyNumber" value="0" class="form-control" />
                                        <span asp-validation-for="HasRefPolicyNumber" class="text-danger"></span>
                                    </div>

                                    <div class="form-group" hidden>
                                        <label asp-for="LastyearBirthdaymsgsent" class="control-label"></label>
                                        <input asp-for="LastyearBirthdaymsgsent" value="0" class="form-control" />
                                        <span asp-validation-for="LastyearBirthdaymsgsent" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="Bulkjobid" class="control-label"></label>
                                        <input asp-for="Bulkjobid" value="@Code" class="form-control" />
                                        <span asp-validation-for="Bulkjobid" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label asp-for="Passphrase" class="control-label"></label>
                                        <input asp-for="Passphrase" class="form-control" />
                                        <span asp-validation-for="Passphrase" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Submit" class="btn btn-facebook" />
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-4"></div>

                        </div>
                    </div>

        </section>
        <div></div>
    </section>

    <div class="modal-footer">


    </div>


    <div></div>

</body>
</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@


<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $("#searchCNPJ").autocomplete({
            source: '/Home/State'
        });
    });
    $('#searchCNPJ').on('autocompletechange change', function () {
        var data = this.value;
        $.ajax({
            type: "Get",
            url: "/Home/State2?name=" + data,
            success: function (data) {
                console.log(data);
                $('#nomeCliente').val(data);
            }
        })
    }).change();

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

<script type='text/javascript'>
    function preview_image(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('output_image');
            output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
<div>
    <a asp-action="Index">Back to List</a>
</div>

