﻿@model NovoDiagnosis.Models.Support

@{
    ViewData["Title"] = "Create";
}


@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row mb">
            <div class="col-lg-12">
                <!-- /form-panel -->
                <h3 align="centre" class="text-center"></h3>

                @{
                    var user = await UserManager.GetUserAsync(User);
                }

                <div class="row mb">
                    @*<div class="content-panel border rounded">

                        
                        <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5b50c2b8e21878736ba22390/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
                        </script>
                        
                    </div>*@

                        <!-- page start-->
                        <div class="content-panel border rounded">
                            <div class="adv-table">

                                <p align="center">
                                    <br /><br /><br />
                                    Kindly fill and submit the contact form below to contact us. <br />
                                    You can also call our Call Centre Agent on 09090404387, 09090404388 or 09090404389 <br />



                                </p>
                                <div class="container">

                                    <div class="row"><br /></div>
                                    <hr width="30%" />
                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4">
                                            <h4 align="center">Contact Form</h4>
                                            <form asp-action="Create">
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                <div class="form-group">

                                                    <input type='hidden' asp-for="UserName" class="form-control" value="@user.UserName" />
                                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">

                                                    <input type="hidden" asp-for="Email" class="form-control" value="@user.Email" />
                                                    <span asp-validation-for="Email" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">

                                                    <input type='hidden' asp-for="Phone" class="form-control" value="@user.PhoneNumber" />
                                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Subject" class="control-label"></label>
                                                    <input asp-for="Subject" class="form-control" />
                                                    <span asp-validation-for="Subject" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Content" class="control-label"></label>
                                                    <textarea asp-for="Content" class="form-control"></textarea><span asp-validation-for="Content" class="text-danger"></span>
                                                </div>


                                                <div class="form-group">
                                                    <input type="submit" value="Create" class="btn btn-facebook" />
                                                </div>
                                            </form>
                                        </div>
                                    </div><br /><br /><br /><br /><br /><br /><br /><br />
                                    <div class="col-md-4"></div>
                                    <div>
                                        <a asp-action="Index">Back to List</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</section><section></section>
